.panel-barrut-ppl-4 > .panel-panel.small{ 
  width: 14%; 
}
.panel-barrut-ppl-4 > .panel-panel.big{ 
  width: 34%; 
}
.panel-barrut-ppl-4 > .panel-panel.left{
	float:left;
	margin-right:1.25%;
}
.panel-barrut-ppl-4 > .panel-panel.right{
	float:right;
}