.panel-barrut-ppl-6 > .panel-col-first { 
  float: left; 
  width: 100%; 
}
.panel-barrut-ppl-6 > .panel-col-last-left,
.panel-barrut-ppl-6 > .panel-col-last-right { 
  float: left; 
  width: 30%; 
}
