.panel-barrut-ppl-8 > .panel-col-first { 
  float: left; 
  width: 35.4%;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}
.panel-barrut-ppl-8 > .panel-col-center { 
  float: left; 
  width: 35.4%; 
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

.panel-barrut-ppl-8 > .panel-col-last { 
  float: left; 
  width: 25%; 
}
