#login-form, #register-form {
  display: block !important;
}


/* COLORS
RED 							color: #C1001F;
GRANATE						color: #381211;
TXT GRIS CLAR 		color: #909090;
TXT GRIS FOSC 		color: #494949;
BKG BT GRIS  CLAR color: #eceff1;
BORDERS LINE			color: #dfdfdf;
*/

/*
INDEX

1. Basic Layout Styles
2. Regions
3. General classes
4. C-Tools
5. Rewrite jQuery
6. Panel de control
7. Blocks
8. Views
	8.1 View class fons-blanc
	8.2 View barrut rank page
	8.3 View listado casos
  8.4 View bloque casos detacados
	8.5 View id cerca
9. Panel
  9.1 Página caso
	9.2 Página usuario
*/

/*
 * 1. Basic Layout Styles
 *
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic); 

html,
body,
#page  {
  height: 100%;
}
#content{
	display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.one-sidebar #content {
  width: 700px;
}
.two-sidebars #content {
  width: 460px;
}
.no-sidebars #content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  float: none;
	
}
html {
  font-size: 87.5%;
	line-height:1.55em;
}
body{
	background-color: #FFFFFF;
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
	font-weight: 400; 
	color: #494949;
}
input{
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
}
a, a:link, a:hover, a:active{ text-decoration:none;}

h2 {
	color: #747474;
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size:1.22em;
	text-align:center;
	background-color: #eceff1;
	font-weight: 700;
	margin-bottom:10px; 
}
	h2:before{
		border-top: 1px solid #DFDFDF;
		border-bottom: 1px solid #F9F9F9;
    content: "\A ";
    display: block;
    height: 0;
    left: 0;
    position: relative;
    top: 14px;
    width: 30%;
    z-index: 1;
	}
	h2:after{
		border-top: 1px solid #DFDFDF;
		border-bottom: 1px solid #F9F9F9;
    content: "\A ";
    display: block;
    height: 0;
    left: 70%;
    position: relative;
    top: -8px;
    width: 30%;
    z-index: 1;
	}

h3 {
	color: #C1001F;
}

#logo{
}

.item-list .pager{
	text-align:right;
}
	.item-list .pager li{
		font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
		margin-left:0;
		padding:4px;
		color:#747474;
		text-shadow: 1px 1px 1px #FFFFFF;
		text-transform: capitalize;
	}
	.item-list .pager li a{
		text-decoration:none;
		color:#747474;
	}
  .item-list .pager-current{
	 font-weight:600;
 }

/* 
 * 2. Regions
 *
 **/
#header{
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 0px 1px #CCC;
	-webkit-box-shadow: 0px 0px 1px #CCC;
	box-shadow: 0px 0px 1px #CCC;
	padding-top:20px;
	padding-bottom: 10px;
}
.region-header{
	width: 800px;
	float:right;
	margin-top:-5px;
	
}
#main-wrapper{
	background:url("../images/bg_main_menu.gif") repeat-x 0 0 #eceff1;
	background: -webkit-linear-gradient(#e6e6e6,white);
	background: -moz-linear-gradient(#e6e6e6, white);
    background: -o-linear-gradient(#e6e6e6, white);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#FFFFFF');
}
#main{
	background: url("../images/bg_70_30.gif") repeat-y scroll 0 0 transparent;
	padding-bottom: 60px;
	margin-top:1px;
}
.region-content{
	padding-bottom:40px;
}
.panels-ipe .region-content{
	padding-bottom:0;
	margin-top:-15px;
}
#footer{
	border-top:1px solid #CCC;
}
.region-footer{
	padding: 20px 0;
}

/*
 * 3. General classes
 *
 */
 .separator-line{
	background-color: #DFDFDF;
	height: 1px;
	left: -10px;
	margin-top: 10px;
	padding: 0 10px;
	position: relative;
	width: 100%;
}

.block-info-bt{
	float: left;
	font-size: 0.65em;
	font-weight: 600;
	padding: 2px 0;
	text-align: center;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	-khtml-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	-moz-box-shadow: 0 1px 1px #CCC;
	-webkit-box-shadow: 0 1px 1px #CCC;
	box-shadow: 0 1px 1px #CCC;
	background: #eceff1;
	line-height: 16px;
}
	.block-info-bt.left{
		border-radius: 2px 0 0 2px;
	}
	.block-info-bt.center{
		margin-left: 0.9%;
		border-radius: 0;
	}
	.block-info-bt.right{
		margin-left: 0.9%;
		border-radius: 0 2px 2px 0;
	}
	.block-info-bt.mitad{
		width:49.4%;
	}
	.block-info-bt.tercio{
		width:32.2%;
	}
	.block-info-bt-gris{
		float: left;
		padding:8px 15px 10px 27px;
		font-size: 0.85em;
		font-weight:600;
		color:#535353;
		background-color: #ECEFF1;
		width: 17%;
	}
		.block-info-bt-gris.left{
			-moz-border-radius: 2px 0 0 2px;
			-webkit-border-radius: 2px 0 0 2px;
			-khtml-border-radius: 2px 0 0 2px;
			border-radius: 2px 0 0 2px;
		}
		.block-info-bt-gris.center{
			margin-left:2px;
		}
		.block-info-bt-gris.right{
			margin-left:2px;		
			-moz-border-radius: 0 2px 2px 0;
			-webkit-border-radius: 0 2px 2px 0;
			-khtml-border-radius: 0 2px 2px 0;
			border-radius: 0 2px 2px 0;
		}

.provincia-autor{
	float:left;
	background:url("../images/sprite.png") no-repeat -490px -16px transparent;
	color: #909090;
	font-size: 0.9em;
	font-weight:300;
	padding-left: 11px;
}
.provincia-autor-2 {
background: url("../images/sprite.png") no-repeat -490px -16px transparent;
color: #909090;
font-size: 0.9em;
font-weight: 300;
padding-left: 11px;
margin-top: 70px;
}
.node-type-caso .panel-pane.pane-views-panes.pane-miembro-grupo-panel-pane-13.denunciado{
	height:10px;
}
.provincia-autor-3 {
background: url("../images/sprite.png") no-repeat -490px -16px transparent;
color: #909090;
font-size: 0.9em;
font-weight: 300;
padding-left: 11px;
margin-top: 30px;
height: 20px;
}
.bt-rojo,
.bt-marron{
	height:20px;
	padding:15px 0 15px;
	text-align:center;
	font-size: 1.3em;
	-moz-box-shadow: inset 0 0 3px #666;
	-webkit-box-shadow: inset 0 0 3px #666;
	box-shadow: inset 0 0 3px #666;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
	.bt-rojo:hover,
	.bt-marron:hover{
		-moz-box-shadow: inset 0 0 5px #666;
		-webkit-box-shadow: inset 0 0 5px #666;
		box-shadow: inset 0 0 5px #666;
	}
	.bt-rojo:active,
	.bt-marron:active{
		-moz-box-shadow: inset 0 0 7px #333;
		-webkit-box-shadow: inset 0 0 7px #333;
		box-shadow: inset 0 0 7px #333;
	}
	.bt-rojo a,
	.bt-marron a{
		color:white;
		text-decoration:none;
	}
.bt-rojo{
	background: #cd334c;
	background: -moz-linear-gradient(top,  #cd334c 0%, #c3334a 50%, #b2001d 51%, #a6001b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd334c), color-stop(50%,#c3334a), color-stop(51%,#b2001d), color-stop(100%,#a6001b));
	background: -webkit-linear-gradient(top,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: -o-linear-gradient(top,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: -ms-linear-gradient(top,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: linear-gradient(to bottom,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd334c', endColorstr='#a6001b',GradientType=0 );
}
	.bt-rojo:hover{
		background: #cd334c;
		background: -moz-linear-gradient(top,  #D14056 0%, #D14056 50%, #b2001d 51%, #B2001A 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D14056), color-stop(50%,#D14056), color-stop(51%,#B2001A), color-stop(100%,#a6001b));
		background: -webkit-linear-gradient(top,  #D14056 0%,#D14056 50%,#B2001A 51%,#a6001b 100%);
		background: -o-linear-gradient(top,  #D14056 0%,#D14056 50%,#B2001A 51%,#a6001b 100%);
		background: -ms-linear-gradient(top,  #D14056 0%,#D14056 50%,#B2001A 51%,#a6001b 100%);
		background: linear-gradient(to bottom,  #D14056 0%,#D14056 50%,#B2001A 51%,#a6001b 100%);
		/* IE */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D14056', endColorstr='#a6001b',GradientType=0 );
	}
.bt-marron{
	background: #553534;
		background: -moz-linear-gradient(top,  #553534 0%, #553534 50%, #300F0F 51%, #2d0f0e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#553534), color-stop(50%,#553534), color-stop(51%,#300F0F), color-stop(100%,#2d0f0e));
		background: -webkit-linear-gradient(top,  #553534 0%,#553534 50%,#300F0F 51%,#2d0f0e 100%);
		background: -o-linear-gradient(top,  #553534 0%,#553534 50%,#300F0F 51%,#2d0f0e 100%);
		background: -ms-linear-gradient(top,  #553534 0%,#553534 50%,#300F0F 51%,#2d0f0e 100%);
		background: linear-gradient(to bottom,  #553534 0%,#553534 50%,#300F0F 51%,#2d0f0e 100%);
		/* IE */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#553534', endColorstr='#2d0f0e',GradientType=0 );
}
	.bt-marron:hover{
		background: #5e3b3a;
	background: -moz-linear-gradient(top,  #5e3b3a 0%, #5e3b3a 50%, #31100F 51%, #300F0F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e3b3a), color-stop(50%,#5e3b3a), color-stop(51%,#31100F), color-stop(100%,#300F0F));
	background: -webkit-linear-gradient(top,  #5e3b3a 0%,#5e3b3a 50%,#31100F 51%,#300F0F 100%);
	background: -o-linear-gradient(top,  #5e3b3a 0%,#5e3b3a 50%,#31100F 51%,#300F0F 100%);
	background: -ms-linear-gradient(top,  #5e3b3a 0%,#5e3b3a 50%,#31100F 51%,#300F0F 100%);
	background: linear-gradient(to bottom,  #5e3b3a 0%,#5e3b3a 50%,#31100F 51%,#300F0F 100%);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e3b3a', endColorstr='#31100F',GradientType=0 );
	}
	
/* Tabs normals (no JQuery)*/
.tabs{
  color: #222222;
  border:none;
	margin-bottom:20px;
	overflow:visible;
}
	.tabs ul{
		border:none;
		background: url("../images/line_double.gif") repeat-x scroll left bottom transparent;
		padding-bottom: 8px;
		overflow:visible;
	}
		.tabs li a{
			color: #747474;
			font-size: 1.4em;
			padding: 0 15px 0 20px;
			text-shadow: 1px 1px 1px #FFFFFF;
			border:0;
			background:none;
		}
			.tabs ul.primary li a{
				background-color:transparent;
				background-image:none;
				border:none;
				padding-bottom: 15px;
			} 
			.tabs ul.primary li+li{
				background: url("../images/sprite.png") no-repeat scroll 0 -108px transparent;
			}
				.tabs ul.primary li.active a{
					background: url("../images/sprite.png") no-repeat scroll -225px 31px transparent;
					font-weight: 700;
				}
	.tabs ul.secondary{
		background-image:none;
		margin-bottom: 60px;
	}
		.tabs ul.secondary li {
			border:none;
			float: left;
			margin-top: 10px;
		}
			.tabs ul.secondary li a{
				border:none;
				padding: 2px 20px;
				color:#535353;
				font-size:0.9em;
				background-color:#FFFFFF;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				-khtml-border-radius: 4px;
				border-radius: 4px;
				-moz-box-shadow: 0px 1px 1px #999;
				-webkit-box-shadow: 0px 1px 1px #999;
				box-shadow: 0px 1px 1px #999;
				/* For IE 8 */
				-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#999999')";
				/* For IE 5.5 - 7 */
				filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#999999');
			}
			.tabs ul.secondary li.active a{				
				background-color: #cccccc;
				-moz-box-shadow:    inset 0 1px 3px #333;
				-webkit-box-shadow: inset 0 1px 3px #333;
				box-shadow:         inset 0 1px 3px #333;
			}
.tabs li+li+li {
  background:none;
}

/* barra vots*/
.bar{
	background-color:#381211;
	width: 97%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
	.bar > div{
		background: url("../images/sprite.png") no-repeat 237px -162px #C1001F;
		min-height:6px;
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
		-khtml-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
		border-right:1px #eceff1 solid;
	}
.field-name-field-tipo-de-caso{
		background:url("../images/sprite.png") no-repeat -490px 5px transparent;
		font-size: 0.9em;
		font-weight:300;
		padding-left: 14px;
		float:left;
}
	.field-name-field-tipo-de-caso a{
			text-decoration:none;
			margin-right: 10px;
		}
.dest-afectado,
.dest-denunciado{
		float:left;
		font-weight:700;
	}
	.dest-afectado{
		color:#C1001F;
	}
	.dest-denunciado{
		color:#381211;
	}
	.views-field-php a{
		color:#381211;
	}
.pane-resonancia-panel-pane-1{
		float:left;
		width:90px;
		margin:20px 0 0 0;
		background:url("../images/sprite.png") no-repeat 110px 4px transparent;
	}
		.pane-resonancia-panel-pane-1 .resonancia-cont{
			height: 18px;
			margin-left: 15px;
			width: 75px;
		}
		.pane-resonancia-panel-pane-1 .valor-resonancia{		
			background:url("../images/sprite.png") no-repeat -15px -18px transparent;
			height:100%;
		}
.modificar-blanco{
		background: url("../images/sprite.png") no-repeat scroll -485px -239px white;
    margin: 11px 4px 0;
    padding: 2px 5px 3px 26px !important;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		color:#494949;
}
	.modificar-blanco a{
		color:#494949;
	}
	.modificar-blanco.left{
		float:left;
	}
	.modificar-blanco.right{
		float:right;
	}

/*
 * 4. C-Tools
 *
 */
input.ctools-auto-submit-processed{
	border:none;
	width:215px;
	-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
	padding: 5px 10px;
	background:url("../images/sprite.png") no-repeat 215px -74px #eceff1;
}

/*
 * 5. Rewrite jQuery
 *
 */
.views-exposed-widget label{
	color: #747474;
	font-size: 0.9em;
	font-weight: 400;
	z-index: 2;
}
	.views-exposed-widget .views-widget .form-type-select{
		position: relative;
		top:-27px;
	}
		.views-exposed-widget .views-widget .form-type-select .ui-state-default{
			background-image:none;
			background-color:transparent;
			border:none;
			width: 113px !important;
		}
			.views-exposed-widget .views-widget .form-type-select .ui-state-default .ui-selectmenu-status{
				display:none;
			}
		.views-exposed-widget .ui-selectmenu-icon{
			background:url("../images/sprite.png") no-repeat 0 -409 transparent;
		}
		
/* Dropdown */
.ui-widget-content.ui-selectmenu-menu-dropdown{
	border: 1px solid #EEEEEE;
	font-family: 'Source Sans Pro',Verdana,Geneva,sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
	-moz-box-shadow: 1px 1px 2px #CCCCCC;
  -webkit-box-shadow: 1px 1px 2px #CCCCCC;
  box-shadow: 1px 1px 2px #CCCCCC; 
}
	.ui-widget-content.ui-selectmenu-menu-dropdown.ui-selectmenu-item-focus,
	.ui-widget-content.ui-selectmenu-menu-dropdown .ui-state-hover{
		border-color:#C1001F !important;
	}
	.ui-widget-content.ui-selectmenu-menu-dropdown .ui-state-hover a,
	.ui-widget-content.ui-selectmenu-menu-dropdown .ui-state-hover a:hover{
		background-image:none;
		background-color:#C1001F;
		color: white;
	}


/* Tabs */
.ui-tabs.ui-widget-content{
	border:none;
	font-family: 'Source Sans Pro',Verdana,Geneva,sans-serif;
	background-image: none;
	background-color: transparent;
	padding:0;
	font-size:1em;
}
	.ui-tabs.ui-widget-content .ui-tabs-nav {
		background-image: none;
		background-color: transparent;
		border: none;
		height: 50px;
	}
	.ui-tabs .ui-tabs-nav ul{
		margin:0;
	}
		.ui-tabs .ui-tabs-nav li,
		.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
		.ui-tabs .ui-tabs-nav li.ui-state-hover{
			background:url("../images/sprite.png") no-repeat 0 -92px transparent;
			border:none;
                        height: 22px;
		}
			.ui-tabs .ui-tabs-nav li.first{
				background-image:none;
			}
			.ui-tabs .ui-tabs-nav li a{
				color: #747474;
				text-shadow: 1px 1px 1px #FFFFFF;
				font-size:1.4em;
				font-weight: 400;
				padding:0 15px 0 20px;
			}
			.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
				font-weight: 700;
			}
	.ui-tabs .ui-tabs-panel{
		padding:0 !important;
	}
	
/*
 * 6. Panel de control
 *
 */
.page-panel-de-control #main{
	background: url("../images/bg_35_35_25.gif") repeat-y scroll 0 0 #ECEFF1;
}
.page-panel-de-control h2{
	margin-bottom:20px;
	font-size: 1em;
}
	.page-panel-de-control h2:before{
    width: 10%;
	}
	.page-panel-de-control h2:after{
    left: 90%;
    width: 10%;
	}
	.page-panel-de-control .afectado,
	.page-panel-de-control .testimonio,
	.page-panel-de-control .denunciado,
	.page-panel-de-control .seguimiento,
	.page-panel-de-control .solucionado{
		margin-bottom:-10px;
		height:500px;
	}
	.page-panel-de-control .afectado h2{
		background: url("../images/sprite.png") no-repeat -427px -398px transparent;
	}
	.page-panel-de-control .testimonio h2{
		background: url("../images/sprite.png") no-repeat -423px -341px transparent;
	}
	.page-panel-de-control .denunciado h2{
		background: url("../images/sprite.png") no-repeat -441px -464px transparent;
	}
		.page-panel-de-control .denunciado h2:before{
    	width: 6%;
		}
	.page-panel-de-control .seguimiento h2{
		background: url("../images/sprite.png") no-repeat -433px -288px transparent;
	}
		.page-panel-de-control .seguimiento .block-info-bt{
			float: left;
			margin-top: 10px;
			padding: 0 10px;
			color:#535353;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			-khtml-border-radius: 4px;
			border-radius: 4px;
		}
.page-panel-de-control .fons-blanc h3{
	min-width:320px;
	margin-bottom:10px;
}
.page-panel-de-control .bar{
	margin-bottom:10px;
}
.page-panel-de-control .pane-caso-testimonios-count-panel-pane-2{
	margin-bottom:10px;
}
.page-panel-de-control .block-info-bt-gris{
	font-size: 0.9em;
	width:19%;
}
.page-panel-de-control .block-info-bt-gris.modificar-caso{
	background: url("../images/sprite.png") no-repeat scroll -485px -239px #ECEFF1;
	float: right;
	margin: 11px 4px 0;
	padding: 2px 5px 3px 26px !important;
	width: 33% !important;
 -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
	.modificar-caso a{
		color:#535353;
	}
.page-panel-de-control .pane-user-homebox-actividad{
	margin-top:20px;
}
	.page-panel-de-control .pane-user-homebox-actividad h2:before{
    width: 15%;
	}
	.page-panel-de-control .pane-user-homebox-actividad h2:after{
    left: 85%;
    width: 15%;
	}
	.pane-user-homebox-actividad .pane-usuario-homebox-panel-pane-1,
	.pane-user-homebox-actividad .pane-usuario-homebox-panel-pane-2,
	.pane-user-homebox-actividad .pane-usuario-homebox-panel-pane-3,
	.pane-seguimiento-de-casos-panel-pane-1,
	.pane-seguimiento-de-casos-panel-pane-2{
		background-image: url("../images/sprite.png");
		background-repeat: no-repeat;
		background-color:transparent;
    margin-bottom: 10px;
    min-height: 25px;
    padding: 2px 0 0 34px;
		line-height: 1.1em;
	}
	.pane-user-homebox-actividad .pane-usuario-homebox-panel-pane-1{
		background-position: -215px -114px;
	}
	.pane-user-homebox-actividad .pane-usuario-homebox-panel-pane-2{
		background-position: 0 -209px;
	}
	.pane-user-homebox-actividad .pane-usuario-homebox-panel-pane-3{
		background-position: 0 -259px;
	}
	.pane-seguimiento-de-casos-panel-pane-1{
		padding-top:13px;
		background-position: 0 -359px;
	}
	.pane-seguimiento-de-casos-panel-pane-2{
		padding-top:13px;
		background-position: 5px -313px;
	}
/* 
 * 7. Blocks
 *
 **/
#block-system-main-menu{
	width:100%;
	height:40px;
	font-weight: bold;
	font-size: 16px;
}
	#block-system-main-menu li{
		float:left;
		list-style:none;
		padding:9px 10px 0 10px;
	}
	#block-system-main-menu li a{
		color: #C1001F;
		padding-bottom: 12px;
	}
	#block-system-main-menu li a.active{
		color: #747474;
		/*background:url("../images/arrow_menu_active.gif") no-repeat center bottom transparent;*/
	}
 
#block-system-user-menu{
	float: right;
	margin-top: 5px;
}
	#block-system-user-menu li{
		list-style:none;
		float:right;
		text-align:right;
		margin-left:0;
	}
		#block-system-user-menu li a{
			color: #C1001F;
			font-weight:600;
			text-decoration:none;
		}
#block-menu-menu-menu-footer{
	float: right;
	margin-top: -25px;
	margin-right: 10px;
}
}
	#block-menu-menu-menu-footer li{
		list-style:none;
		float:right;
		text-align:right;
		margin-left:0;
	}
		#block-menu-menu-menu-footer li a{
			color: #C1001F;
			font-weight:400;
			text-decoration:none;
		}
body.logged-in #block-system-user-menu {
 position:relative;
  width:300px;
}
	body.logged-in #block-system-user-menu ul {
		position:absolute;
		width:320px;
		right:0px;
		height: 24px;
		overflow: hidden;    
		padding-left:5px;
		z-index:1000;
		padding:5px;
	}
	body.logged-in #block-system-user-menu li {
		float:none;
		display:block;
		padding-right:15px;
	}
		body.logged-in #block-system-user-menu li a {
			display:block;
		}
		body.logged-in #block-system-user-menu li {
			background:url("../images/menu_user_config.png") no-repeat right 65%;
		}
		body.logged-in #block-system-user-menu li.first {
			background:url("../images/menu_user_red.png") no-repeat right 65%;
		}
		body.logged-in #block-system-user-menu li.last {
			background:url("../images/menu_user_logout.png") no-repeat right 65%;
		}
		body.logged-in .menu_user_white {
			background:url("../images/menu_user_white.png") no-repeat right 65% !important;
		}
			body.logged-in #block-system-user-menu li.last a:hover,
			body.logged-in #block-system-user-menu li a:hover {
				color:#D64D4D;
			}
/* Cercador */
#block-views-exp-cerca-page-1{
	width:390px;
	float:left;
}
#edit-field-tipo-de-caso-wrapper{
	height:30px;
}

/* Page cerca blocks filtres */
.block-facetapi{
	padding:5px;
	margin-top:15px;
}
#block-facetapi-cmzbdplxqm3sxq6dtg3cu6onyvlloznq{
	/*height: 355px;*/
}
#block-facetapi-klcl9qydhy1ka7100gm4t9popu0db7sv{
	/*height:120px;*/
}
#block-facetapi-fekznwpuxxtltjhqjakvgjnbagvr7gxo{
	/*height:100px;*/
}
.block-facetapi h2{
	background-color: #ECEFF1;
	font-weight: 600;
	top: -10px;
	width: 95%;
}
#block-facetapi-wcajdtxrziuwu9ug8kk06kc4qdvkpugz.block-facetapi h2{
margin: 0 0 0 11%;
width: 77%;
}
.block-facetapi h2:before, 
.block-facetapi h2:after{
	display:none;
}
.block-facetapi ul{
	margin-top:10px;
}
.block-facetapi li.leaf{
	font-size: 01.2em;
	line-height: 1.5em;
	list-style-image: url("../images/arrow_list.png");
}
.block-facetapi li a{
	color: #909090;
}
#block-block-3{
	float:left;
	color: #909090;
	width:15%;
	font-size:0.9em;
}
#block-block-6{
	float:left;
	width:30%;
	margin-bottom:20px;
}
/*
 * 8. Views
 *
 **/
.view-footer, .more-link{
	position: relative;
	float:left;
	left: -10px;
	top: 3px;
	width: 100%;
	padding: 10px;
	border-top: 1px solid #dfdfdf;
	text-align:right;
}
	.view-footer a, .more-link a{
		background: url("../images/sprite.png") no-repeat scroll -200px 0 transparent;
    color: #747474;
    padding: 10px 15px 0;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
    top: -3px;
	}
	
/* 8.1 View class fons-blanc */
.fons-blanc,
#fons-blanc{
	position:relative;
	background-color: white;
	margin:0 0 5px 0;
	padding:10px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
	-moz-box-shadow: 0 0 1px #CCC;
  -webkit-box-shadow: 0 0 1px #CCC;
  box-shadow: 0 0 1px #CCC;
}
	.fons-blanc h3,
	.fons-blanc h4{
		float: left;
		margin-bottom:5px;
		min-width: 380px;
		font-size:1.2em;
		color:#C1001F;
		font-weight:600;
                display: block;
	}
	.page-denunciados h4{
		margin-left: -10px;
	}
		.fons-blanc h3 a,
		.fons-blanc h4 a{
			text-decoration:none;
			font-weight:600;
			color:#C1001F;
		}
	.fons-blanc .pane-custom{
		float:left;
	}
	.fons-blanc .pane-miembro-grupo-panel-pane-14,
	.fons-blanc .pane-miembro-grupo-panel-pane-12{
		float:left;
		position: relative;
	}
		.fons-blanc .pane-miembro-grupo-panel-pane-14 img.over-img,
		.fons-blanc .pane-miembro-grupo-panel-pane-12 img.over-img{
			filter:alpha(opacity=0);
			-ms-filter:"alpha(opacity=0)";
			-moz-opacity:0;
			-khtml-opacity: 0;
			opacity: 0;
		 	left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
		}
			.fons-blanc .pane-miembro-grupo-panel-pane-14 img.over-img:hover,
			.fons-blanc .pane-miembro-grupo-panel-pane-12 img.over-img:hover{
				filter:alpha(opacity=1);
			-ms-filter:"alpha(opacity=1)";
			-moz-opacity:1;
			-khtml-opacity: 1;
			opacity: 1;
			}
	.fons-blanc .pane-porcentaje-votaciones-casos-panel-pane-1{
		float:left;
		width:100%;
		padding-left:4px;
	}
	.fons-blanc .bar {
		width: 91%;
	}
	.fons-blanc .bar > div {
		background-position: 238px -50px;;
	}
	.fons-blanc .dest-afectado,
	.fons-blanc .dest-denunciado{
		width:130px;
		text-align:center;
		padding-top:8px;
	}
	.fons-blanc .pane-miembro-grupo-panel-pane-13{
		float: left;
		font-weight:300;
		line-height: 1.3em;
		padding: 2px 7px;
		text-align: center;
		width: 44%;
	}
		.fons-blanc .pane-miembro-grupo-panel-pane-13.afectado a{
			color:#C1001F;
			text-decoration:none;
		}
		.fons-blanc .pane-miembro-grupo-panel-pane-13.denunciado a{
			color:#381211;
			text-decoration:none;
		}
	
	.fons-blanc .field-name-field-tipo-de-caso{
	}
	.fons-blanc .provincia-autor{
		margin-right: 10px;
	}
	.fons-blanc .pane-node-field-descripcion{
		float:left;
		margin: 5px 0 17px;
		width: 100%;
		height: 55px;
	}
	.fons-blanc .pane-porcentaje-votaciones-casos-panel-pane-2{
		background: url("../images/sprite.png") no-repeat -479px -43px #ECEFF1;
		padding:8px 15px 10px 27px;
                clear: both;
	}
	.fons-blanc .num-testigos{
		width:auto;
		background:url("../images/testigos.png") no-repeat 10px 15px #eceff1;
		padding:8px 15px 10px 28px;
	}
	.fons-blanc .pane-caso-testimonios-count-panel-pane-2{
		width: auto;
		background:url("../images/pruebas.png") no-repeat 10px 11px #eceff1;
		padding:8px 17px 10px 28px;
	}
		

/* 8.2 View barrut rank page */
.fons-blanc.barrut-rank{
	background:url("../images/line_vert.gif") repeat-y 140px top white;
}
	.page-denunciados .ui-tabs-nav{
		margin-bottom:20px;
	}
	.fons-blanc.barrut-rank .views-field-counter{
		position:absolute;
		top:0;
		left:37px;
		width:64px;
		height:20px;
		z-index:2;
		padding:15px 0;
		text-align:center;
		font-size:1.7em;
		font-weight:600;
		text-shadow: 1px 1px 1px #FFFFFF;
		background: #dcdfe1;
		background: -moz-linear-gradient(top,  #dcdfe1 50%, #d5d9db 50%, #d5d9db 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#dcdfe1), color-stop(50%,#d5d9db), color-stop(100%,#d5d9db));
		background: -webkit-linear-gradient(top,  #dcdfe1 50%,#d5d9db 50%,#d5d9db 100%);
		background: -o-linear-gradient(top,  #dcdfe1 50%,#d5d9db 50%,#d5d9db 100%);
		background: -ms-linear-gradient(top,  #dcdfe1 50%,#d5d9db 50%,#d5d9db 100%);
		background: linear-gradient(to bottom,  #dcdfe1 50%,#d5d9db 50%,#d5d9db 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdfe1', endColorstr='#d5d9db',GradientType=0 );
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 1px 1px 1px #CCC;
		-webkit-box-shadow: 1px 1px 1px #CCC;
		box-shadow: 1px 1px 1px #CCC;
	}

	.fons-blanc.barrut-rank .views-field-rendered-entity{
		position:relative;
	}
	.fons-blanc.barrut-rank .views-field-rendered-entity .view-denunciado-barrutrank-img-{
		padding-top:34px;
                width:120px;
		position:absolute;
	}
		.fons-blanc.barrut-rank .views-field-rendered-entity img.over-img{
			left: 0;
			position: absolute;
			top: 34px;
			filter:alpha(opacity=0);
			-ms-filter:"alpha(opacity=0)";
			-moz-opacity:0;
			-khtml-opacity: 0;
			opacity: 0;
		}
		.fons-blanc.barrut-rank .views-field-rendered-entity img.over-img:hover{

			filter:alpha(opacity=1);
			-ms-filter:"alpha(opacity=1)";
			-moz-opacity:1;
			-khtml-opacity: 1;
			opacity: 1;
		}
	.fons-blanc.barrut-rank .casos-abiertos-bt{
		float:right;
		width:120px;
		color:#C1001F;
		text-align:center;
		font-size:0.9em;
		font-weight:600;
		padding-bottom:1px;
		border:1px solid #f0f0f0;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 1px 1px 1px #CCC;
		-webkit-box-shadow: 1px 1px 1px #CCC;
		box-shadow: 1px 1px 1px #CCC;
		background: #ffffff;
		background: -moz-linear-gradient(top,  #ffffff 50%, #f0f0f0 51%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(51%,#f0f0f0));
		background: -webkit-linear-gradient(top,  #ffffff 50%,#f0f0f0 51%);
		background: -o-linear-gradient(top,  #ffffff 50%,#f0f0f0 51%);
		background: -ms-linear-gradient(top,  #ffffff 50%,#f0f0f0 51%);
		background: linear-gradient(to bottom,  #ffffff 50%,#f0f0f0 51%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
	}
	.fons-blanc.barrut-rank .pane-usuario-contacto-provincia-panel-pane-2{
		float:left;
	}
	.fons-blanc.barrut-rank .view-usuario-contacto-provincia{
		float:left;
		width:100%;
		background: url("../images/sprite.png") no-repeat scroll -490px -16px transparent;
    color: #909090;
    font-size: 0.9em;
    font-weight: 300;
    padding-left: 13px;
		margin-bottom:10px;
	}
	.fons-blanc.barrut-rank .casos-abiertos,
	.fons-blanc.barrut-rank .view-denunciado-votos-acumulados.view-display-id-panel_pane_3,
	.fons-blanc.barrut-rank .pane-usuario-testimonios-a-favor-panel-pane-3{
		float:left;
		width:29%;
		padding-left:4%;
		background: url("../images/sprite.png") no-repeat scroll -485px -159px transparent;
	}
	.fons-blanc.barrut-rank .view-denunciado-votos-acumulados.view-display-id-panel_pane_3{
		background-position: -487px -201px;
	}
	.fons-blanc.barrut-rank .pane-usuario-testimonios-a-favor-panel-pane-3{
		background-position: -486px -85px;
	}
	
	.fons-blanc.barrut-rank .casos-contra,
	.fons-blanc.barrut-rank .view-denunciado-votos-acumulados.view-display-id-panel_pane_1,
	.fons-blanc.barrut-rank .pane-usuario-testimonios-a-favor-panel-pane-1{
		float:left;
		margin-left:2%;
		padding-left:2%;
		width:28.5%;
		border-left:1px solid #CCC;
	}
	.fons-blanc.barrut-rank .casos-favor,
	.fons-blanc.barrut-rank .view-denunciado-votos-acumulados.view-display-id-panel_pane_2,
	.fons-blanc.barrut-rank .pane-usuario-testimonios-a-favor-panel-pane-2{
		float:left;
		margin-left:2%;
		padding-left:2%;
		width:28.5%;
		border-left:1px solid #CCC;
	}
	.fons-blanc.barrut-rank .barrut-rank-barra{
		margin-top:15px;
		float:left;
		width:100%;
	}
	.fons-blanc.barrut-rank .barrut-rank-barra .bar{
		background-color:#eceff1;
		height:6px;
		margin-bottom:5px;
		float:left;
	}
		.fons-blanc.barrut-rank .barrut-rank-barra .bar .valor{
			height:6px;
			background-position: 464px -50px;
		}
	.fons-blanc.barrut-rank .barrut-rank-barra .text{
		float:left;
	}

/* 8.2 View Barrut Rank */
.barrut-rank .panel-barrut-ppl-3 > .panel-col-last,
.barrut-rank .panel-barrut-ppl-3 > .panel-col-last{
	margin-left: 22%;
}
.pane-search-result-person-panel-pane-2{
	float:left;
	width: 75%;
}
.pane-denunciados-panel-pane-1,
.pane-denunciados{
	float:left;
	margin-top:20px;
	padding:5px;	
}
	.pane-denunciados-panel-pane-1 h2:before,
	.pane-denunciados h2:before{
		width: 15%;
	}
	.pane-denunciados-panel-pane-1 h2:after,
	.pane-denunciados h2:after{
		left: 85%;
    width: 15%;
	}
	.pane-denunciados-panel-pane-1 .view-footer,
	.pane-denunciados .view-footer{
		left: -15px;
    padding: 10px 15px 0;
	}
	.pane-denunciados-panel-pane-1 .views-row,
	.pane-denunciados .views-row{
	border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #F9F9F9;
    float: left;
    padding:15px 0;
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	}
		.pane-denunciados-panel-pane-1 .views-row.views-row-first,
		.pane-denunciados .views-row.views-row-first{
			border-top:none;
		}
		.pane-denunciados-panel-pane-1 .views-row.views-row-last,
		.pane-denunciados .views-row.views-row-last{
			border-bottom:none;
		}
	.pane-denunciados-panel-pane-1 .views-field-rendered-entity,
	.pane-denunciados .views-field-rendered-entity{
		float:left;
		width:40%;
		position:relative;
	}
		.pane-denunciados-panel-pane-1 .views-field-rendered-entity .view-denunciado-barrutrank-img- .views-row,
		.pane-denunciados .views-field-rendered-entity .view-denunciado-barrutrank-img- .views-row{
			padding:0;
		}
			.pane-denunciados-panel-pane-1 .views-field-rendered-entity img.over-img,
			.pane-denunciados .views-field-rendered-entity img.over-img{
				filter:alpha(opacity=0);
				-ms-filter:"alpha(opacity=0)";
				-moz-opacity:0;
				-khtml-opacity: 0;
				opacity: 0;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
			}
			.pane-denunciados-panel-pane-1 .views-field-rendered-entity img.over-img:hover,
			.pane-denunciados .views-field-rendered-entity img.over-img:hover{
				filter:alpha(opacity=1);
				-ms-filter:"alpha(opacity=1)";
				-moz-opacity:1;
				-khtml-opacity: 1;
				opacity: 1;
				}
	.pane-denunciados-panel-pane-1 .views-field-counter,
	.pane-denunciados .views-field-counter{
		float:left;
		width:59%;
		font-weight:700;
		font-size: 0.95em;
		color: #616161;
	}
	.pane-denunciados-panel-pane-1 .views-field-field-usuario-nombre,
	.pane-denunciados .views-field-field-usuario-nombre{
		float:left;
		width:59%;
		line-height: 1.3em;
	}
	.pane-denunciados-panel-pane-1 .views-field-php-2,
	.pane-denunciados .views-field-php-2{
		float:left;
		width:59%;
		font-weight: bold;
	}
		.pane-denunciados-panel-pane-1 .views-field-field-usuario-nombre a,
		.pane-denunciados-panel-pane-1 .views-field-php-2 a,
		.pane-denunciados .views-field-field-usuario-nombre a,
		.pane-denunciados .views-field-php-2 a{
			color:#C1001F;
			text-decoration:none;
		}
	.pane-denunciados-panel-pane-1 .views-field-field-direccion,
	.pane-denunciados .views-field-field-direccion{
		background:url("../images/sprite.png") no-repeat -490px -17px transparent;
		color: #909090;
		padding-left: 12px;
		margin-bottom:6px;
		font-size: 0.9em;
		font-weight:300;
		float:left;
		width:100%;
	}

/* 8.3. View listado casos */
.view-listado-casos-destacados .view-filters{
}
.view-listado-casos-destacados #edit-field-tipo-de-caso-tid-wrapper{
	float: right;
	height: 30px;
	padding: 0;
}
.view-id-casos #edit-field-tipo-de-caso-tid-wrapper{
	float: right;
	height: 30px;
	padding: 0;
}

/* 8.4 View bloque casos detacados */
.pane-casos-panel-pane-4{
	margin-left: -10px;
	margin-top:25px;
}
	#block-views-bloque-casos-block-1 h2{
		margin-top:25px;
	}
	.pane-casos-panel-pane-4 h2:before,
	#block-views-bloque-casos-block-1 h2:before{
		width: 10%;
	}
	.pane-casos-panel-pane-4 h2:after,
	#block-views-bloque-casos-block-1 h2:after{
		left: 90%;
    width: 10%;
	}
	.pane-casos-panel-pane-4 .views-row,
	.view-bloque-casos .views-row{
		/*border-bottom: 1px solid #DFDFDF;*/
		border-top: 1px solid #F9F9F9;
	}
		.pane-casos-panel-pane-4 .views-row.views-row-first,
		.view-bloque-casos .views-row.views-row-first{
			border-top:none;
		}
		.pane-casos-panel-pane-4 .views-row.views-row-last,
		.view-bloque-casos .views-row.views-row-last{
			border-bottom:none;
		}
	.pane-casos-panel-pane-4 .pane-node-title,
	.view-bloque-casos .pane-node-title{
		float:left;
		width:100%;
		color: #C1001F;
		font-size: 1.1em;
		line-height:1.2em;
		margin-bottom:4px;
		font-weight: bold;
	}
	.pane-casos-panel-pane-4 .pane-node-title a,
	.view-bloque-casos .pane-node-title a{
		color: #C1001F;
		text-decoration:none;
	}
	.pane-casos-panel-pane-4 .afectado-title,
	.view-bloque-casos .afectado-title{
		float:left;
		background:url("../images/sprite.png") no-repeat -87px -42px transparent;
		padding-left:20px;
		color: #C1001F;
		font-size:0.9em;
		font-weight:600;
		margin-right:3px;
	}
	.pane-casos-panel-pane-4 .denunciado-title,
	.view-bloque-casos .denunciado-title{
		float:left;
		background:url("../images/sprite.png") no-repeat -207px -42px transparent;
		padding-left:20px;
		color: #381211;
		font-size:0.9em;
		font-weight:600;
		margin-right:3px;
	}
	.pane-casos-panel-pane-4 .afectado-name,
	.view-bloque-casos .afectado-name{
		float:left;
		font-size:0.9em;
	}
	.pane-casos-panel-pane-4 .afectado-name .views-row,
	.view-bloque-casos .afectado-name .views-row{
		padding:0;
	}
		.pane-casos-panel-pane-4 .afectado-name a,
		.view-bloque-casos .afectado-name a{
			color: #C1001F;
			font-weight:300;
		}
	.pane-casos-panel-pane-4 .denunciado-name,
	.view-bloque-casos .denunciado-name{
		float:left;
		font-size:0.9em;
	}
	.pane-casos-panel-pane-4 .denunciado-name .views-row,
	.view-bloque-casos .denunciado-name .views-row{
		padding:0;
	}
		.pane-casos-panel-pane-4 .denunciado-name a,
		.view-bloque-casos .denunciado-name a{
			color: #381211;
			font-weight:300;
		}
	.pane-casos-panel-pane-4 .view-porcentaje-votaciones-casos.view-display-id-panel_pane_1,
	.view-bloque-casos .view-porcentaje-votaciones-casos.view-display-id-panel_pane_1{
		float:left;
		width:100%;
		padding:8px 0 9px 2px;
	}
	.pane-casos-panel-pane-4 .view-porcentaje-votaciones-casos .views-row,
	.view-bloque-casos .view-porcentaje-votaciones-casos .views-row{
		padding:0;
	}
	.pane-casos-panel-pane-4 .view-porcentaje-votaciones-casos .bar > div,
	.view-bloque-casos .view-porcentaje-votaciones-casos .bar > div {
		background-position:203px -162px;
	}
	.pane-casos-panel-pane-4 .pane-porcentaje-votaciones-casos-panel-pane-2 .views-field-php,
	/*.view-bloque-casos .pane-porcentaje-votaciones-casos-panel-pane-2 .views-field-php*/{
		background-color: white;
		float:left;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 1px 1px #CCCCCC;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 1%;
    padding: 2px 0;
    text-align: center;
    width: 32.5%;
	}
	.pane-casos-panel-pane-4 .num-testigos,
	/*.view-bloque-casos .num-testigos*/{
		background-color: white;
    box-shadow: 0 1px 1px #CCCCCC;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 1%;
    padding: 2px 0;
    text-align: center;
    width: 32%;
	}	
	.pane-casos-panel-pane-4 .pane-caso-testimonios-count-panel-pane-2,
	/*.view-bloque-casos .pane-caso-testimonios-count-panel-pane-2*/{
		background-color: white;
		float:left;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 1px 1px #CCCCCC;
    float: left;
    font-size: 0.8em;
    font-weight: 600;
    padding: 2px 0;
    text-align: center;
    width: 32%;
	}
		.pane-casos-panel-pane-4 .pane-caso-testimonios-count-panel-pane-2 .views-row,
		.view-bloque-casos .pane-caso-testimonios-count-panel-pane-2 .views-row{
			padding:0;
		}
/* 8.5 View id cerca */
.view-cerca h2{
	text-align:left;
	margin-bottom:20px;
}
	.view-cerca h2:before, .view-cerca h2:after{
	display:none;
	}

/*
 * 9. Panel
 *
 */

/*  9.1 Página caso */
.node-type-caso .tabs.primary{
	display:none;
}
.node-type-caso h1#page-title{
	display:none;
}
.node-type-caso h1{
	font-size:1.5em;
	font-weight:600;
	margin-bottom: 5px;
}
	.node-type-caso .pane-caso-compl-tabs-info{
		float:left;
		width:100%;
	}
	.node-type-caso .panel-col-first.top{
		position:relative;
		background-color: white;
		padding: 1.8%;
    width: 96.3%;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow: 0 0 1px #CCC;
		-webkit-box-shadow: 0 0 1px #CCC;
		box-shadow: 0 0 1px #CCC;
	}
	.node-type-caso .field-name-field-tipo-de-caso{
		padding-right:15px;
	}
	.node-type-caso .provincia-autor{
	}
	.node-type-caso .pane-caso-contenido-completo-miembros{
		margin-top:15px;
	}
	.node-type-caso .bt-rojo,
	.node-type-caso .bt-marron{
		font-size: 0.85em;
    margin: 0 3px 5px;
    width: 94%;
	}
	.node-type-caso .dest-afectado,
	.node-type-caso .dest-denunciado{
		padding-right:5px;
		font-size:0.9em;
		height: 29px;
	}
	.node-type-caso .views-field-reclamar-identidad a{
		color:#381211;
	}
	.node-type-caso .usuario-nombre{
		float:left;
		width:100%;
		font-size:1.2em;
		font-weight:600;
	}
		.node-type-caso .denunciado .usuario-nombre a{
			color:#381211;
		}
		.node-type-caso .afectado .usuario-nombre a{
			color:#C1001F;
		}
	.node-type-caso	.bt-marron.anadir-den{
		float: left;
    left: -4px;
    position: relative;
    top: -21px;
	}
		.node-type-caso	.bt-marron.anadir-den .pane-content{
			background: url("../images/sprite.png") no-repeat scroll 94px -482px transparent;
    	height: 35px;	
		}
			.node-type-caso	.bt-marron.anadir-den .pane-content a{
				display:block;
				width:100%;
				height:100%;	
			}
	.node-type-caso .testigos{
		float:left;
		width:38%;
	}
	 .node-type-caso .testigos .views-field-php,
	 .node-type-caso .testigos .views-field-php-1{
		 background:url("../images/sprite.png") no-repeat scroll -236px -366px #ECEFF1;
		 padding: 7px 7% 7px 18%;
		 width: 75%;
		 font-size:0.95em;
		 text-align:center;
		 margin-top: 25px;
	 }
	 .node-type-caso .testigos .views-field-anadir-usuario-testimonio,
	 .node-type-caso .testigos .views-field-anadir-usuario-testigo-defensa{
		 	background-color: #626262;
			padding: 7px 7% 7px 13%;
			position: relative;
			top: -36px;
			font-size:0.9em;
			width: 80%;
			filter:alpha(opacity=0);
			-ms-filter:"alpha(opacity=0)";
			-moz-opacity:0;
			-khtml-opacity: 0;
			opacity: 0;
			cursor:pointer;
		  text-align:center;
	 }
		 .node-type-caso .testigos .views-field-anadir-usuario-testimonio:hover,
		 .node-type-caso .testigos .views-field-anadir-usuario-testigo-defensa:hover{
				filter:alpha(opacity=100);
				-ms-filter:"alpha(opacity=100)";
				-moz-opacity:1;
				-khtml-opacity: 1;
				opacity: 1;
		 }
		 .node-type-caso .testigos .views-field-anadir-usuario-testimonio a,
		 .node-type-caso .testigos .views-field-anadir-usuario-testigo-defensa a{
			color:white;
			font-size:1em;
		 }
	.node-type-caso .block-info-bt-gris.right.pruebas-count,
	.node-type-caso .block-info-bt-gris.right.pruebas-mas{
		float:left;
		width:26%;
		padding: 7px 7% 7px 6%;
		font-size:0.90em;
		text-align:center;
		margin-top: 25px;
	}
	.node-type-caso .block-info-bt-gris.right.pruebas-count{
		background:url("../images/sprite.png") no-repeat scroll -479px -112px #ECEFF1;
	}
	.node-type-caso .block-info-bt-gris.right.pruebas-mas{
		background-color: #626262;
		padding: 7px 2% 7px 3%;
    width: 34%;
		position: relative;
		top: -60px;
		filter:alpha(opacity=0);
		-ms-filter:"alpha(opacity=0)";
		-moz-opacity:0;
		-khtml-opacity: 0;
		opacity: 0;
		cursor:pointer;
	}
		.node-type-caso .block-info-bt-gris.right.pruebas-mas:hover{
			filter:alpha(opacity=100);
			-ms-filter:"alpha(opacity=100)";
			-moz-opacity:1;
			-khtml-opacity: 1;
			opacity: 1;
		}
		.node-type-caso .block-info-bt-gris.right.pruebas-mas a{
			color:white;
		}
	.node-type-caso .pane-miembro-grupo-panel-pane-14,
	.node-type-caso .pane-miembro-grupo-panel-pane-12{
		float:left;
		position: relative;
	}
		.node-type-caso .pane-miembro-grupo-panel-pane-14 img.over-img,
		.node-type-caso .pane-miembro-grupo-panel-pane-12 img.over-img{
			filter:alpha(opacity=0);
			-ms-filter:"alpha(opacity=0)";
			-moz-opacity:0;
			-khtml-opacity: 0;
			opacity: 0;
		 	left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
		}
			.node-type-caso .pane-miembro-grupo-panel-pane-14 img.over-img:hover,
			.node-type-caso .pane-miembro-grupo-panel-pane-12 img.over-img:hover{
				filter:alpha(opacity=1);
			-ms-filter:"alpha(opacity=1)";
			-moz-opacity:1;
			-khtml-opacity: 1;
			opacity: 1;
			}
	.node-type-caso .bar{
		width:100%;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-khtml-border-radius: 8px;
		border-radius: 8px;
	}
	.node-type-caso .bar > div{
		background: url("../images/sprite.png") no-repeat 905px -425px #C1001F;
		min-height:12px;
		-moz-border-radius: 8px 0 0 8px;
		-webkit-border-radius: 8px 0 0 8px;
		-khtml-border-radius: 8px 0 0 8px;
		border-radius: 8px 0 0 5px;
		border-right:1px white solid;
	}
	.node-type-caso .votos-afectado{
		float:left;
		width:50px;
		color: #C1001F;
		padding-left:5px;
	}
	.node-type-caso .votos-denunciado{
		float:right;
		width:50px;
		color: #381211;
		padding-right:5px;
	}
	.node-type-caso .separador{
		border-top: 1px solid #DFDFDF;
    float: left;
    margin: 10px 0 0 -2%;
    width: 104%;
	}
	.node-type-caso .seguir{
    float: right;
    width: 300px;
	}
		.node-type-caso .seguir a{
			color:#C1001F;
			float:right;
			padding-right:15px;
			background: url("../images/bandera_roja.png") no-repeat right center transparent;
									margin-top: 4px;
		}
			.node-type-caso .seguir .flag-message{
				margin-top: -18px;
			}
	.node-type-caso .pane-resonancia-panel-pane-1{
		float: left;
                margin: 5px 20px 0 0;
	}
	.node-type-caso .pane-custom.pane-7{
		float: left;
                margin: 5px 40px 0 5px;
	}
	.node-type-caso .grid_3{
		padding-top: 24px;
	}
	.node-type-caso .grid_9 .inside{
		padding: 0 15px;
	}
	.node-type-caso .testimonios h2{
		font-size: 1.15em;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
	}
		.node-type-caso .testimonios h2:before{
			display:none;
		}
		.node-type-caso .testimonios h2:after{
			width:100%;
			position:inherit;
		}
	.node-type-caso .testimonios .views-row a{
		font-size:1em;		
		color: #C1001F;
		font-weight:300;
	}
		.node-type-caso .testimonios .views-row span{
			margin:0;
			padding:0;
		}
		.node-type-caso .testimonios .views-row .views-field-field-usuario-nombre{
			font-size:1em;
		}
	.node-type-caso .ui-tabs{
		margin-bottom: 70px;
	}
	.node-type-caso .ui-tabs-nav{
		color:#494949;
		border-bottom: 1px solid #D7D7D7 !important;
    height: 43px;
    overflow: visible;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
	}
	.node-type-caso .ui-tabs-panel.ui-widget-content{
		padding-top:10px;
		border-top: 1px solid #F9F9F9 !important;
	}
	.node-type-caso .ui-tabs-nav li.ui-state-active a{
		background: url("../images/arrow_separator.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 51px;
	}
	.node-type-caso .field-type-text-with-summary{
		color: #494949;
    font-size: 1.2em;
    line-height: 1.6em;
		padding-top:20px;
	}
	.node-type-caso .view-tabs-info-caso{
		color: #494949;
		padding-top:20px;
	}
	.node-type-caso .view-tabs-info-caso .pane-node-rules-links-editar-detalles-caso{
		background: url("../images/sprite.png") no-repeat scroll -485px -239px white;
    float: right;
    margin: 11px 4px 0;
    padding: 2px 5px 3px 26px !important;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
	}
	.node-type-caso .pane-testimonio-caso-completo-panel-pane-1{
	}
	.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 h2{
		font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
	}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 h2:before{
			display:none;
		}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 h2:after{
			 margin-top: 15px;
			position: inherit;
			width: 100%;
		}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .views-row.prueba{
			border-bottom: 1px solid #F9F9F9;
    	border-top: 1px solid #DFDFDF;
			padding: 20px 0 30px;
		}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .views-row.views-row-first.prueba{
				border-top: none;
			}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .views-row.views-row-last.prueba{
				border-bottom: none;
			}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .views-row .prueba-afectado{
		}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .views-row .prueba-denunciado{
		}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .views-row .pane-testimonio-caso-completo-panel-pane-2{
			float:left;
			width:100%;
		}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado .views-field-og-roles .rol{
				padding: 0 10px 0 35px;
				float:left;
				height:30px;
				color:#494949;
				font-weight:600;
				font-size: 1.5em;
				text-transform:capitalize;
			}
			.node-type-caso .rol{
				background-image: url("../images/sprite.png");
				background-repeat: no-repeat;
				background-color:transparent;
			}
			.node-type-caso .rol.r22{
				background-position:-472px -398px;
			}
			.node-type-caso .rol.r24{
				background-position:-472px -344px;
			}
			.node-type-caso .rol.r18{
				display:none;
			}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado a.nombre,
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado .views-field-php,
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado .views-field-created{
				float:left;
			}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado a.nombre{
				color: #C1001F;
				padding-right:10px;
				font-weight:400;
				font-size:1.2em;
				text-transform:capitalize;
			}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado .pane-node-field-texto-testimonio{
			padding-left:5.5%;
			float:left;
			width:94.4%;
		}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado .pane-adjuntos-contenido-panel-pane-1,
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-afectado .pane-adjuntos-contenido-panel-pane-2{
			padding-left:5.5%;
			float:left;
			width:94.4%;
		}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado .views-field-og-roles .rol{
				float:right;
				color:#494949;
				font-weight:600;
				font-size:1.2em;
				text-transform:capitalize;
				background-image:none;
			}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado .views-field-og-roles-1{
				float:right;
			}
			
			.node-type-caso .rol.r23{
				float:right;
				padding: 0 35px 0 10px;
				height:30px;
				background-position:-375px -464px;
			}
			.node-type-caso .rol.r25{
				float:right;
				padding: 0 35px 0 10px;
				height:30px;
				background-position:-389px -344px;
			}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado a.nombre,
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado .views-field-php{
				float:right;
			}
			.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado a.nombre{
				color: #C1001F;
				padding-left:10px;
				font-weight:400;
				font-size:1.2em;
				text-transform:capitalize;
			}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado .pane-node-field-texto-testimonio{
			padding-right:5.5%;
			float:right;
			width:94.4%;
			text-align:right;
		}
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado .pane-adjuntos-contenido-panel-pane-1,
		.node-type-caso .pane-testimonio-caso-completo-panel-pane-1 .prueba-denunciado .pane-adjuntos-contenido-panel-pane-2{
			padding-right:5.5%;
			float:right;
			width:94.4%;
			text-align:right;
		}
	.node-type-caso .modificar-blanco{
		margin:10px 0;
	}
	.node-type-caso .no-den{
		margin-bottom:20px;
	}
	.node-type-caso .pane-node-rules-links-anadir-usuario-denunciado{
		padding-left: 5px;
    padding-right: 5px;
		float: right;
	}
/* Archivos adjuntos pruebas */
	#total_adj .views-field-fid .field-content {
		background:url("../images/menu_user_red.png") no-repeat right 50%;
		padding-right: 12px;
		cursor:pointer;
		color:#C1001F;
	}
	#listado_adj {
		display:none;
	}
	.class_adjuntos_gris {
		color:#999 !important;
		background:url("../images/menu_user_white.png") no-repeat right 50% !important;
	}
	#listado_adj .views-label{
		color:#909090;
		text-transform:uppercase;
		font-size:0.8em;
		width:30%;
		float:left;
	}
	#listado_adj .file img{
	}
	#listado_adj .file a{
		color:#C1001F;
	}

/*  9.2 Página usuario */
.page-user h1{
	display:none;
}
.page-user .tabs ul.primary li:first.active a{
	background-position:-225px 31px;
}
.page-user .panel-col-first-left{
	width:24%;
}
.page-user .panel-col-first-right{
	width:75%;
}
.page-user .pane-user-picture{
	margin:10px 0 0 10px;
}
.page-user .pane-user-rules-links-reclamar-identidad{
	padding-left:10px;
}
	.page-user .pane-user-rules-links-reclamar-identidad a{
		color: #C1001F;
	}
.page-user .pane-search-result-person-panel-pane-2{
	margin-top:10px;
}
.page-user #fons-blanc .usuario-nombre{
	color: #C1001F;
  display: block;
	float: left;
	font-size: 1.5em;
	font-weight: 600;
	min-width: 500px;
}
	.page-user .usuario-nombre a{
		color: #C1001F;
	  font-weight: 600;
	}
		.page-user .usuario-nombre a h4{
			font-weight: 600;
			margin-bottom: 10px;
		}
.page-user .provincia-autor{
	margin: 5px 0 10px 0;
	margin-top: 0px;
}
.page-user .casos-acusado,
.page-user .casos-afectado{
	float:left;
	width:100%;
	padding-left:30px;
  height: 24px;
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-color:transparent;
	margin-top:5px;
	font-size: 1.1em;
  font-weight: 600;
}
.page-user .casos-acusado{
	background-position: -475px -547px;	
	color: #381211;
}
.page-user .casos-afectado{
	background-position: -475px -576px;
	color: #C1001F;
}
.page-user .casos-testigo{
	background: url("../images/sprite.png") no-repeat scroll -245px -373px transparent;
	color: #777777;
	float: left;
	margin-top: 15px;
	padding-left: 4%;
	margin-right: 30px;
}
.page-user .defensas-total{
	background: url("../images/sprite.png") no-repeat scroll -488px -119px transparent;
	color: #777777;
	float: left;
	padding-left: 3.5%;
    margin-top: 15px;
	margin-right: 30px;
}
.page-user .seguimiento-casos{
	background: url("../images/sprite.png") no-repeat scroll -488px -198px transparent;
	color: #777777;
	float: left;
	margin-top: 12px;
	margin-bottom:15px;
	padding-left: 3.5%;
	padding-top: 3px;
	margin-right: 30px;
}
.page-user .separador{
	border-top: 1px solid #DFDFDF;
	float: left;
	margin: 10px 0 0 -1.4%;
    width: 103%;
	line-height:1em;
}
.page-user .casos-sigue{
	background: url("../images/sprite.png") no-repeat scroll -483px -510px transparent;
	bottom: 10px;
	color: #777777;
	display: block;
	float: right;
	height: 18px;
	margin: 0 7px 7px 0;
	padding-left: 21px;
	right: 10px;
}
/* Edit */
.page-user-edit label{
	font-weight:600;
}
.page-user-edit #edit-fboauth label{
	margin-bottom:10px;
}

body.page-user #main .section .form-item.form-type-password-confirm {
  padding-top:0;
}
.page-user-edit .form-type-password-confirm input {
  width: 44% !important;
}
.page-user-edit #edit-picture {
  display:block;
  width:160px;
  float:left;
  margin-right:15px;
}
	.page-user-edit #edit-picture .fieldset-legend {
		display:none;
	}
	.page-user-edit #edit-picture .form-item {
		border:none !important;
	}
		.page-user-edit #edit-picture #edit-picture-delete{
			float:left;
			width: 13% !important;
		}
		.page-user-edit #edit-picture .description{
			line-height:1.2em;
		}
body.page-user #main #content .section #user-profile-form a {
  color: #C1001F;
}
body.page-user #main #content .section #user-profile-form #edit-actions {
  margin-left: 175px;
}
body.page-user.page-user-edit-perfil-p #main #content .section #user-profile-form #edit-actions {
  margin-left: 0;
}
body.page-user #main #content .section #edit-account {
  overflow:auto;
}
.page-user-edit #edit-picture-upload {
  width:100% !important;
}
.page-user-edit .form-item .form-item{
	border:none !important;
}


.page-user-edit .sticky-table{
	width:100%;
}
	.page-user-edit .sticky-table tbody tr .form-type-textfield{
		margin:10px 0 10px 0 !important;
	}
	.page-user-edit .sticky-table tbody tr label{
		width:0;
		overflow:visible;
		float:left;
	}
	.page-user-edit .sticky-table tbody tr input{
		margin-left:10px;
		padding-top:2px;
		width:88% !important;
	}
	.page-user-edit .sticky-table tr.draggable.odd{
		background-color:#E5E9EA;
	}
	.page-user-edit .sticky-table tr.draggable.even{
		background-color:#DCDFE1;
	}
	.page-user-edit .sticky-table tr.draggable.drag-previous{
		background-color:#909090;
	}
		.page-user-edit .sticky-table tr.draggable.drag-previous .tabledrag-changed{
			width:0;
			overflow:visible;
			float:left;
		}
.page-user-edit .tabledrag-changed-warning{
	background-color: #333333;
	border: medium none;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
	color: white;
	margin: 20px 0 20px 20px;
	padding: 12px 9px 14px 50px;
	width: 80%;
}	
.page-user-edit .field-add-more-submit{
	 background-color: transparent;
    color: #C1001F;
    cursor: pointer;
}

/*
   PANTALLA DE REGISTRO/LOGIN
*/
body.page-user.not-logged-in #content,
body.page-user-login #content,
body.page-user-register #content {
  width:700px;
  color:#999;
}
body.page-user.not-logged-in #user-login div > strong ,
body.page-user-login #user-login div > strong ,
body.page-user-register #user-login div > strong {
  display:block;
  margin-bottom:10px;
  font-weight:bold;
  font-size:18px;
  color:#333;
}
body.page-user-login.overlay #overlay,
body.page-user-register.overlay #overlay{
  width:500px;
  color:#999;
}
body.page-user-login #content,
body.page-user-register #content {
  background:#FFF;
}
body.page-user.not-logged-in #user-login div p > span,
body.page-user-login #user-login div p > span,
body.page-user-register #user-login div p > span {
  color:#999;
  margin-top:10px;
  display:block;
}
body.page-user-login.overlay  #header,
body.page-user-register.overlay #header {
  border:0;
  box-shadow: none;
}
body.page-user-login.overlay #header #logo,
body.page-user-register.overlay #header #logo {
 margin-left: 30px;
}
body.page-user-login.overlay #page,
body.page-user-register.overlay #page {
  width:750px;
}
body.page-user-login.overlay #page #main,
body.page-user-register.overlay #page #main {
  width:750px;
}
body.page-user-login.overlay  #main-wrapper,
body.page-user-register.overlay #main-wrapper,
body.page-user-login.overlay  #main-wrapper #main,
body.page-user-register.overlay #main-wrapper #main {
  background:#FFF;
  padding-top:10px;
  padding-bottom:10px;
}
body.page-user.not-logged-in #main-wrapper #main #register-form,
body.page-user.not-logged-in #main-wrapper #main #login-form,
body.page-user-login  #main-wrapper #main #register-form,
body.page-user-register #main-wrapper #main #register-form,
body.page-user-login  #main-wrapper #main #login-form,
body.page-user-register #main-wrapper #main #login-form {
  width:45%;
  float:right;
  padding:1%;
}
body.page-user.not-logged-in #main-wrapper #main #login-form,
body.page-user-login #main-wrapper #main #login-form,
body.page-user-register #main-wrapper #main #login-form {
  padding-left:27px;
  border-left: 2px solid #ccc;
}
body.page-user.not-logged-in  #block-fboauth-login,
body.page-user-login #block-fboauth-login,
body.page-user-register #block-fboauth-login {
    margin-right: 41%;
    margin-top: 40px;
    position: absolute;
    right: 0;
}
body.page-user-login.overlay #block-fboauth-login,
body.page-user-register.overlay #block-fboauth-login {
    margin-right: 18%;
}
body.page-user.not-logged-in #user-register-form:before,
body.page-user-login #user-register-form:before,
body.page-user-register #user-register-form:before {
  content:"Crea tu cuenta! Es Gratis!";
  font-weight:bold;
  font-size:18px;
  color:#333;
}
body.page-user.not-logged-in #main-wrapper #main #register-form #edit-mail,
body.page-user.not-logged-in #main-wrapper #main #login-form #edit-mail,
body.page-user-login  #main-wrapper #main #register-form #edit-mail,
body.page-user-register #main-wrapper #main #register-form #edit-mail,
body.page-user-login  #main-wrapper #main #login-form #edit-mail,
body.page-user-register #main-wrapper #main #login-form #edit-mail{
  font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
  width: 80%;
  padding:2px;
  background:#ECEFF1;
  border: 1px solid #999; 
  border-radius: 2px 2px 2px 2px;
}
body.page-user.not-logged-in #main-wrapper #main #register-form #edit-name,
body.page-user.not-logged-in #main-wrapper #main #login-form #edit-name,
body.page-user-login  #main-wrapper #main #register-form #edit-name,
body.page-user-register #main-wrapper #main #register-form #edit-name,
body.page-user-login  #main-wrapper #main #login-form #edit-name,
body.page-user-register #main-wrapper #main #login-form #edit-name{
  font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
  width: 80%;
  padding:2px;
  background:#ECEFF1;
  border: 1px solid #999; 
  border-radius: 2px 2px 2px 2px;
}
body.page-user.not-logged-in #main-wrapper #main #register-form #edit-pass,
body.page-user.not-logged-in #main-wrapper #main #login-form #edit-pass,
body.page-user-login  #main-wrapper #main #register-form #edit-pass,
body.page-user-register #main-wrapper #main #register-form #edit-pass,
body.page-user-login  #main-wrapper #main #login-form #edit-pass,
body.page-user-register #main-wrapper #main #login-form #edit-pass{
  font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
  width: 80%;
  padding:2px;
  background:#ECEFF1;
  border: 1px solid #999; 
  border-radius: 2px 2px 2px 2px;
}
body.page-user-login.overlay  #footer,
body.page-user-register.overlay #footer {
  border: 0;
}
body.page-user.not-logged-in  #login-links,
body.page-user.not-logged-in #login-message,
body.page-user-login #login-links,
body.page-user-register #login-links,
body.page-user-login #login-message,
body.page-user-register #login-message {
  display:none;
}
body.page-user.not-logged-in #content a,
body.page-user-login #content a,
body.page-user-register #content a {
  color:#C1001F;
  font-size: 12px;
}
body.page-user.not-logged-in .form-actions ,
body.page-user-login .form-actions ,
body.page-user-register .form-actions {
  text-align:center;
}
#main #content .section .form-managed-file .form-submit,
body.page-node-edit  #main .section #edit-delete,
body.page-node-edit  #main .section #edit-submit,
body.page-eform #main .section #edit-submit,
body.page-user-edit #main .section #edit-submit,
body.page-node-add #main .section #edit-submit,
body.page-user.not-logged-in #main-wrapper #main #register-form .form-submit,
body.page-user.not-logged-in #main-wrapper #main #login-form .form-submit,
body.page-user-login  #main-wrapper #main #register-form .form-submit,
body.page-user-register  #main-wrapper #main #register-form .form-submit,
body.page-user-login  #main-wrapper #main #login-form .form-submit,
body.page-user-register  #main-wrapper #main #login-form .form-submit {
  cursor: pointer;
  font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
  background: #cd334c;
  background: -moz-linear-gradient(top,  #cd334c 0%, #c3334a 50%, #b2001d 51%, #a6001b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd334c), color-stop(50%,#c3334a), color-stop(51%,#b2001d), color-stop(100%,#a6001b));
  background: -webkit-linear-gradient(top,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
  background: -o-linear-gradient(top,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
  background: -ms-linear-gradient(top,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
  background: linear-gradient(to bottom,  #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
  /* IE */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd334c', endColorstr='#a6001b',GradientType=0 );
  color:#FFF;
  border: 1px solid #FFF; 
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 3px #666666 inset;
  width: 43%;
  height:30px;
}
/*
  Tabs Busqueda y User-edit
*/

.view-busqueda-personas > .view-filters,
.view-busqueda-personas .view-header > h4, 
.view-cerca .view-header > h2 {
  color: #494949;
  font-size:14px;
  margin-left:40px;
}

/*
  Tabs Busqueda → Personas
*/
body.page-busqueda .fons-blanc.barrut-rank {
  min-height: 167px;
}
body.page-busqueda .fons-blanc.barrut-rank .views-field-rendered-entity .view-denunciado-barrutrank-img- {
  padding-top:0;
  margin-bottom:10px;
}
body.page-busqueda .fons-blanc.barrut-rank .views-field-rendered-entity img.over-img:hover {
  top:0;
}
body.page-busqueda #edit-submit-busqueda-personas {
  margin-top:0;
}
/*
  Panel de Control
*/
body.page-panel-de-control .afectado h2.pane-title,
#panels-ipe-display-panel-context-page-panel-de-control-page-panel-de-control-panel-context .panel-display h2 {
    padding-left: 2%;
}
/*
  Panel de Control → Actividad
*/

.pane-user-homebox-actividad .pane-title {
  border-bottom: 2px solid #DFDFDF;
  text-align:left;
}
.pane-user-homebox-actividad .pane-title:after,
.pane-user-homebox-actividad .pane-title:before {
  border:none;
}
.pane-user-homebox-actividad #mini-panel-user_homebox_actividad .pane-views-panes {
  padding-bottom:5px;
  border-bottom: 1px solid #DFDFDF;
  color:#C1001F;
}
.pane-user-homebox-actividad #mini-panel-user_homebox_actividad .pane-views-panes:last-child {
  border-bottom: 2px solid #DFDFDF;
}

/*
  Arreglos para Firefox
*/
.afectado .pane-node-field-tipo-de-caso .field-name-field-tipo-de-caso .field-item {
  width: 172px;
}
.afectado .fons-blanc .num-testigos .pane-content, 
.afectado .fons-blanc .view-caso-testimonios-count .views-row {
  width: 72px;
}
body.page-denunciados .fons-blanc.barrut-rank {
  min-height: 169px;
}
body.page-busqueda-personas .view-busqueda-personas .fons-blanc.barrut-rank .view-usuario-testimonios-a-favor .field-content,
body.page-denunciados .fons-blanc.barrut-rank .view-usuario-testimonios-a-favor .field-content {
  display:block;
  width:170px;
}
/*
  Arreglos para IE
*/
body.page-busqueda-personas .view-busqueda-personas .fons-blanc.barrut-rank .inside .panel-pane,
body.page-denunciados .fons-blanc.barrut-rank .inside .panel-pane {
  color: #222222;
  font-size:14px;
  font-weight:400;
  position:relative;
  top:30px;
}
body.page-busqueda-personas .view-busqueda-personas .fons-blanc.barrut-rank .inside .panel-pane.casos-abiertos,
body.page-denunciados .fons-blanc.barrut-rank .inside .panel-pane.casos-abiertos {
  clear:both;
}
body.page-busqueda-personas .view-busqueda-personas .fons-blanc.barrut-rank .inside .pane-search-result-person-panel-pane-2,
body.page-denunciados .fons-blanc.barrut-rank .inside .panel-pane.pane-search-result-person-panel-pane-2 {
  display:block;
  height:24px;
  position:absolute;
  top:0;
  left:155px;
  text-align:left;
  width:380px;
}
body.page-busqueda-personas .view-busqueda-personas .fons-blanc.barrut-rank .inside .panel-pane.casos-abiertos-bt,
body.page-denunciados .fons-blanc.barrut-rank .inside .panel-pane.casos-abiertos-bt{
  display:block;
  height:22px;
  font-size:12.6px;
  position:absolute;
  top:0;
  right:0;
  color:#C1001F;
  font-size:12.6px;
}
body.page-busqueda-personas .view-busqueda-personas .fons-blanc.barrut-rank .inside .pane-denunciado-barrutrank-img-panel-pane-1,
body.page-denunciados .fons-blanc.barrut-rank .inside .pane-denunciado-barrutrank-img-panel-pane-1 {
  position:absolute;
  top:0px;
  left:0px;
}

/*
Home
*/
.icon1{
	width: 82px;
    height: 82px;
	background:url("../images/icon1.png") no-repeat;
}
.icon2{
	width: 82px;
    height: 82px;
	background:url("../images/icon2.png") no-repeat;
}
.icon3{
	width: 82px;
    height: 82px;
	background:url("../images/icon3.png") no-repeat;
}
.pasos{
	background:url("../images/fondo_gente.png") no-repeat;
	width:927px;
}
.pasos td{
	vertical-align:middle;
	padding-left:20px;
	padding-right:20px;
}
.bloque_button{
	width:230px;
	margin-left: 360px;
}
.flecha{
	background:url("../images/bajar.png") no-repeat;
	width:59px;
	height:50px;
	margin-left:450px;
	margin-top:10px;
	margin-bottom:10px;
}
.flecha2{
	background:url("../images/subir.png") no-repeat;
	width:59px;
	height:50px;
	margin-left:450px;
	margin-bottom:10px;
}
.separacion{
	width: 10px;
    height: 287px;
	background:url("../images/separacion.png") no-repeat;
}
.ejemplo{
	width: 256px;
    height: 54px;
	background:url("../images/ejemplo.png") no-repeat;
	margin-top: 50px;
}
.publicatucaso{
	width: 12px;
    height: 19px;
	background:url("../images/publicatucaso.png") no-repeat;
}
.mascasos{
	width: 15px;
    height: 13px;
	background:url("../images/mascasos.png") no-repeat;
}

/*
Otros
*/
.pane-node-rules-links-denunciar-contenido-inapropiado{
	float:right;
	background:url("../images/report.png") 0px 4px no-repeat;
	padding-left:20px;
}

/*
Formulario Crear caso
*/
#edit-field-paso1-und-0-value, #edit-field-paso2-und-0-value{
	display:none;
}
.form-item-field-paso1-und-0-value, .form-item-field-paso2-und-0-value{
	font-size:16px;
	color: black;
	font-weight:bold;
}
.form-item-field-que-quieres-und{
	font-size:16px;
	color: black;
	font-weight:bold;
	
}
.form-item-field-nombre-acusado-und-0-value, .form-item-field-primer-apellido-acusado-und-0-value, .form-item-field-segundo-apellido-acusado-und-0-value{
	width: 210px;
	float: left;
	font-size: 14px;
	font-weight: normal;
}
.form-item-field-nombre-empresa-acusado-und-0-value{
	width:270px;
}
/*oriol.css modificado l. 222*/
#edit-field-selector-und-button, #edit-field-tipo-de-caso-und-button, #edit-field-estado-und-button, #edit-field-que-quieres-und-button{
	height:auto;
	font-size:12px;
	margin-top:10px;
}
.edit-field-que-quieres-und-button{
	font-size:12px;
}
#edit-field-descripcion-und-0-value{
	font-size:12px;
}

/*
Vista principal caso
*/
.field-name-field-nombre-acusado .field-items, .field-name-field-primer-apellido-acusado .field-items, .field-name-field-segundo-apellido-acusado .field-items{
	font-size: 16px;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom:7px;
	float: left;
	margin-right: 5px;
}
.field-name-field-nombre-empresa-acusado .field-items{
	font-size: 16px;
	font-weight: bold;
	margin-bottom:7px;
	margin-right: 5px;
	width:300px;
	float:left;
}
.etiqueta_estado{
	float:right;
	margin-right: 5px;
	
}
.estado{
	float:right;
	font-weight:bold;
}
/*
Formulario usuario
*/
#edit-fboauth{
	display:none;
}
.form-item-field-barrut-rank-manual-und-0-value{
	display:none;
}
/*
Agora
*/
.page-casos #footer .section.container_12{
	margin-top:0px;
}
#footer #block-block-3{
	margin-left: 155px;
	margin-top: 10px;
}
#block-menu-menu-menu-footer ul li.leaf{
	list-style-image: none;
	list-style-type: none;
	float: right;
}
.view-id-crear_caso.view-display-id-block_4{
	width: 130px;
	margin-top: 8px;
	margin-left: 16px;
	position: absolute;
}
.view-id-crear_caso.view-display-id-block_4 a{
	color:black;
	padding-left: 30px;
	margin-left: -25px;
}
.page-busqueda .item-list{
	font-size: 11px;
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
	height:auto;
}
.item-list{
	font-size: 11px;
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
	height:40px;
}
.views-field-og-roles .item-list{
	height:0px;
}
.pager{
	font-size: 14px;
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
}
.page-casos #header{
	margin-top: 25px;
}
.page-casos .section{
	margin-top: -25px;
}
.not-logged-in .grid_3{
	margin-top:10px;
}
.admin-menu .panel-barrut-ppl-8 .grid_3{
	margin-top: -40px;
}
.page-casos .grid_3{
	margin-top:-30px;
}
.page-user-tus-grupos .grid_3, .page-user- .grid_3, .page-node-add-caso .grid_3{
	margin-top: -35px;
}
.pane-og-user-groups-by-role .pane-title{
	font-size: 14px;
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
}
.page-panel-de-control .grid_3{
	margin-top: -55px;
}
.titulocasos{
	margin-top:5px;
}
/*
Búsqueda
*/
.view-id-busqueda .view-header{
	margin-bottom:10px;
}
#block-views-exp-busqueda-page-1{
	margin-left:-20px;
	margin-top:-4px;
	width: 210px;
	float: left;
}
#edit-submit-busqueda{
	display:none;
}
#edit-search-api-views-fulltext{
	font-size: 14px;
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
	border: none;
	width: 200px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 10px;
	background: url("../images/sprite.png") no-repeat 200px -74px #eceff1;
}
#edit-search-api-views-fulltext-wrapper label{
	display:none;
	font-size: 16px;
	font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
}
/*
Página personal
*/
.pagina-personal{
	background:white;
	padding: 7px;
	margin: 5px;
	height:150px;
	line-height:23px;
}
.pagina-personal .pane-node-title{
	font-weight:bold;
	font-size:16px;
}
.pagina-personal .pane-porcentaje-votaciones-casos-panel-pane-2{
	background: url("../images/sprite.png") no-repeat -485px -48px #ECEFF1;
}
.pagina-personal .num-testigos{
	background: url("../images/testigos.png") no-repeat 3px 9px #eceff1;
}
.pagina-personal .pane-caso-testimonios-count-panel-pane-2{
	background: url("../images/pruebas.png") no-repeat 3px 5px #eceff1;
}
.pagina-personal .afectado-title{
	background: url("../images/afectado.png") 0px 3px no-repeat transparent;
	padding-left: 20px;
	font-weight:bold;
	color:#C1001F;
	float: left;
	padding-right: 5px;
}
.pagina-personal .denunciado-title{
	background: url("../images/acusado.png") 0px 3px no-repeat transparent;
	padding-left: 20px;
	font-weight:bold;
	float: left;
	padding-right: 5px;
}
#panels-ipe-display-panel-context-page-panel-de-control-page-panel-de-control-panel-context .pager{
	font-size:12px;
}
.pane-seguimiento-de-casos, .pane-og-user-groups-by-role .afectado, .pane-og-user-groups-by-role .denunciado, .pane-og-user-groups-by-role .testimonio{
	height:490px;
}
.pane-seguimiento-de-casos h2{
	background: url("../images/seguimiento.png") 65px no-repeat transparent;
}
.solucionado h2{
	background: url("../images/solucionado.png") 65px no-repeat transparent;
}
#fecha{
	font-size: 11px;
	position:absolute;
	bottom:0;
	margin-left:270px;
}
.page-panel-de-control .bar{
	margin-top: 15px;
	margin-bottom: 15px;
}
/*
Barra usuarios
*/
.barra-ususarios {
	background:white;
	padding:5px;
	margin-bottom: 5px;
}
/*
Formulario Cobro abusivo
*/
.form-item-field-fecha-compra-o-fin-serv-und-0-value-date label{
	display:none;
}
.form-item-field-fecha-recepcion-f-und-0-value-date label{
	display:none;
}
.form-item-field-fecha-pago-und-0-value-date label{
	display:none;
}
.form-item.form-type-radio.form-item-field-has-pagado-und {
	width: 350px;
}
.form-item-field-has-pagado-und .option {
	margin-left: -150px;
}

.form-item-field-fecha-pedido-und-0-value-date label{
	display:none;
}
.form-item-field-fecha-entrega-finaliz-und-0-value-date label{
	display:none;
}
.form-item-field-fecha-factura-und-0-value-date  label{
	display:none;
}
.form-item-field-fecha-entrega-finaliz-und-0-value .description{
	display:none;
}
.form-item-field-fecha-pedido-und-0-value .description{
	display:none;
}
.form-item-field-fecha-factura-und-0-value .description{
	display:none;
}
.form-item-field-fecha-recepcion-f-und-0-value .description{
	display:none;
}
.form-item-field-fecha-pago-und-0-value .description{
	display:none;
}
#edit-field-factura-und-0-upload-button{
	display:none;
}
#edit-field-prueba-und-0-upload-button{
	display:none;
}
/*
Vade Retro
*/
.page-denunciados #tabs-0-left{
	margin-top:-24px;
}
.not-logged-in .panel-barrut-ppl-1 .grid_3{
	margin-top:10px;
}
.page-denunciados .grid_3{
	margin-top: -55px;
}
.admin-menu #panels-ipe-display-panel-context-page-listado-denunciados-page-listado-denunciados-panel-context .grid_3{
	margin-top:-40px;
}
.not-logged-in.page-denunciados .grid_3{
	margin-top:-15px;
}
/*
Formulario pruebas
*/
.page-node-add-testimonio #page-title, .page-node-add-defensa #page-title{
	margin-top:15px;
}
.page-node-add-testimonio #edit-field-tipo-de-prueba-und-button, .page-node-add-defensa #edit-field-tipo-de-prueba-und-button{
	height:auto;
}
.form-item-field-descripcion1-und-0-value label, .form-item-field-descripcion2-und-0-value label,
.form-item-field-descripcion3-und-0-value label, .form-item-field-descripcion4-und-0-value label,
.form-item-field-descripcion5-und-0-value label, .form-item-field-descripcion6-und-0-value label,
.form-item-field-descripcion7-und-0-value label, .form-item-field-descripcion8-und-0-value label,
.form-item-field-descripcion9-und-0-value label, .form-item-field-descripcion10-und-0-value label,
.form-item-field-descripcion11-und-0-value label, .form-item-field-descripcion12-und-0-value label,
.form-item-field-descripcion13-und-0-value label, .form-item-field-descripcion14-und-0-value label,
.form-item-field-descripcion15-und-0-value label, .form-item-field-descripcion16-und-0-value label{
	display:none;
}
.form-item-field-descripcion1-und-0-value input, .form-item-field-descripcion2-und-0-value input,
.form-item-field-descripcion3-und-0-value input, .form-item-field-descripcion4-und-0-value input,
.form-item-field-descripcion5-und-0-value input, .form-item-field-descripcion6-und-0-value input,
.form-item-field-descripcion7-und-0-value input, .form-item-field-descripcion8-und-0-value input,
.form-item-field-descripcion9-und-0-value input, .form-item-field-descripcion10-und-0-value input,
.form-item-field-descripcion11-und-0-value input, .form-item-field-descripcion12-und-0-value input,
.form-item-field-descripcion13-und-0-value input, .form-item-field-descripcion14-und-0-value input,
.form-item-field-descripcion15-und-0-value input, .form-item-field-descripcion16-und-0-value input{
	display:none;
}
body.page-node-add #main #content .section .form-item.form-item-field-tipo-de-prueba-und{
	background:none;
}
/*
Caso completo
*/
#denunciadonombre{
	margin-top:0px;
}
.logged-in.page-node-.node-type-caso.admin-menu .bar{
	margin-top: -35px;
}
.not-logged-in .rules-link-votar{
	position: absolute;
	margin-left: 45px;
	margin-top: 13px;
}
.not-logged-in .rules-link-votar a{
	color: white;
}
.node-type-caso .field-item a{
	color:#222;
}
/*
Page user
*/
.page-user-edit .password-strength {
	width: auto;
	float: right;
	margin-top: 1.4em;
	font-size: 12px;
	margin-right: 50px;
}
#mini-panel-user_homebox_actividad  #acusado{
	background-image: url("../images/acusado2.png");
	background-repeat: no-repeat;
	background-color: transparent;
	margin-bottom: 10px;
	min-height: 25px;
	padding: 6px 0 6px 34px;
	line-height: 1.1em;
	color: #C1001F;
	margin-left: 1px;
	border-bottom: 1px solid #DFDFDF;
}
#mini-panel-user_homebox_actividad  #testigo{
	background-image: url("../images/testigo.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position-y: 4px;
	margin-bottom: 10px;
	min-height: 25px;
	padding: 6px 0 6px 34px;
	line-height: 1.1em;
	color: #C1001F;
	margin-left: 1px;
	border-bottom: 1px solid #DFDFDF;
}
.casoquesigo{
	display:none;
}
#totaldecasosquesigo .view-footer{
	border-top:none;
	color: #777777;
	background-image: url("../images/bandera_gris.png");
	background-repeat: no-repeat;
	float: right;
	background-position-y: 14px;
	padding-left: 20px;
	width:auto;
}
#totaldecasosquesigo .view-empty{
	border-top:none;
	color: #777777;
	background-image: url("../images/bandera_gris.png");
	background-repeat: no-repeat;
	float: right;
	background-position-y: 4px;
	padding-left: 20px;
	width:auto;
}
#totaldecasosquesigo {
	background:none;
}
#mini-panel-user_homebox_actividad .view-id-seguimiento_de_casos .view-footer{
	border-top:none;
	left: -90px;
	top: -15px;
}
.page-panel-de-control .denunciado-name a{
	color:#381211;
}
.votosqueheemitido{
	display:none;
}
#totaldevotosemitidos .view-footer{
	margin-left: 35px;
}
#totaldevotosemitidos2 .view-footer{
	border-top:none;
	color: #777777;
	margin-top: 1px;
	background-image: url("../images/votosemitidos.png");
	background-repeat: no-repeat;
	width: auto;
	background-position-y: 13px;
	padding-left: 18px;
}
#totaldevotosemitidos .view-empty{
	margin-top: -15px;
	line-height: 1.5;
}
#totaldevotosemitidos2 .view-empty{
	border-top:none;
	color: #777777;
	margin-top: 15px;
	background-image: url("../images/votosemitidos.png");
	background-repeat: no-repeat;
	width: auto;
	background-position-y: 3px;
	padding-left: 18px;
	float: left;
}
.page-user .field-item a{
	color:#222;
}
/*
Home
*/
.caras {
width: 250px;
height: 99px;
background: url("../images/caras.png") no-repeat;
}
#user-register-form .form-item-mail .description{
	display:inline-block;
}
#edit-terms-of-use p{
	height: 100px;
	overflow: auto;
	border: 1px solid #cccccc;
	padding: 4px;
}
#publicaTuCaso .bt-rojo{
	background: rgba(0, 0, 0, 0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0000000000);
	background:url("../images/fondo_gente.png");
	-webkit-box-shadow: none;
	box-shadow: none;
	position: absolute;
	margin-top: -211px;
	margin-left: 63px;
}
#publicaTuCaso a{
	color:#C1001F;
	font-weight: bold;
}
/*
Otros
*/
.imagenNormal, .imagenRoja{
	display:none;
}
.page-casos .pane-denunciados-panel-pane-1 h1{
	text-align: center;
	margin-top: -10px;
	margin-bottom: 10px;
}
.page-user  .form-item.form-type-textfield.form-item-profile-contacto-field-direccion-und-0-locality{
	margin-left:10px;
}
.page-user .form-item-profile-contacto-field-direccion-und-0-premise{
	display:none;
}
.page-user-password .description{
	display:none;
}
.not-logged-in.page-user .grid_3{
	margin-top:5px;
}
body.page-user.not-logged-in #content a h4{
	color: #C1001F;
	display: block;
	float: left;
	font-size: 1.7em;
	font-weight: 600;
	min-width: 500px;
	margin-bottom: 10px;
}
.node-type-pagina #page h1.title#page-title{
	font-size:14pt;
	margin-top:20px;
}
.page-user-edit #edit-cancel{
	cursor: pointer;
	font-family: 'Source Sans Pro',Verdana, Geneva, sans-serif;
	background: #cd334c;
	background: -moz-linear-gradient(top, #cd334c 0%, #c3334a 50%, #b2001d 51%, #a6001b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd334c), color-stop(50%,#c3334a), color-stop(51%,#b2001d), color-stop(100%,#a6001b));
	background: -webkit-linear-gradient(top, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: -o-linear-gradient(top, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: -ms-linear-gradient(top, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: linear-gradient(to bottom, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd334c', endColorstr='#a6001b',GradientType=0 );
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px #666666 inset;
	width: 43%;
	height: 30px;
	float: right;
	text-align:center;
}
.page-user-cancel #edit-cancel{
	cursor: pointer;
	font-family: 'Source Sans Pro',Verdana, Geneva, sans-serif;
	width: 43%;
	height: 30px;
	float: left;
	margin-top:5px;
	margin-left:15px;
}
.page-user-cancel #edit-submit{
	cursor: pointer;
	font-family: 'Source Sans Pro',Verdana, Geneva, sans-serif;
	background: #cd334c;
	background: -moz-linear-gradient(top, #cd334c 0%, #c3334a 50%, #b2001d 51%, #a6001b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd334c), color-stop(50%,#c3334a), color-stop(51%,#b2001d), color-stop(100%,#a6001b));
	background: -webkit-linear-gradient(top, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: -o-linear-gradient(top, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: -ms-linear-gradient(top, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	background: linear-gradient(to bottom, #cd334c 0%,#c3334a 50%,#b2001d 51%,#a6001b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd334c', endColorstr='#a6001b',GradientType=0 );
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px #666666 inset;
	width: 43%;
	height: 30px;
	float: left;
}
.page-user-cancel #user-cancel-confirm-form{
	line-height:25px;
}
body.page-user-edit #main #content .section input#edit-cancel{
	width:190px;
}
/*
Términos taxonomia
*/
.page-taxonomy-term .pane-content h2{
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size: 1.22em;
	text-align: center;
	font-weight: 700;
	background-color:transparent;
	margin-bottom: 20px;
	margin-top:-25px;
}
.page-taxonomy-term .grid_3{
	margin-top: -15px;
}
.page-taxonomy-term .pane-denunciados h1 {
text-align: center;
margin-top: -10px;
margin-bottom: 10px;
}
.page-taxonomy-term .field-item a{
	color:#222;
}
/*
  Faqs - Page
*/
.page-faq-page .region-content .faq-ul-questions-top li {
  list-style: square outside none;
  color: #C1001F;
}
.page-faq-page .region-content .faq-ul-questions-top a {
  color: #C1001F;
}
.page-faq-page .region-content .faq-question span {
  font-weight:bold;
}
.page-faq-page .region-content .faq-answer {
  margin-bottom:15px;
}
.page-faq-page .region-content .faq-answer li a {
  color: #C1001F;
}
