/*
   Modificaciones FAQS
*/
body.page-faq-page .faq-content .faq-question {
  border-top: 1px solid #F9F9F9;
}
body.page-faq-page .faq-content .faq-answer {
 border-bottom: 1px solid #DFDFDF;
 margin-bottom: 0;
 padding-bottom: 15px;
}
body.page-faq-page .faq-content .faq div:nth-child(4) {
 border-top: none;
}
body.page-faq-page .faq-content .faq div:last-child {
 border-bottom: none;
}
/*
   Arreglos varios
*/
.inside .pane-views-panes .view-id-casos .view-empty {
  text-align:center;
}
.pane-content .field-name-field-tipo-de-caso .field-item a {
 display:block;
}
.inside .pane-resonancia-panel-pane-1,
.fons-blanc .pane-resonancia-panel-pane-1 {
  width:195px;
  height:18px;
}
.inside .pane-resonancia-panel-pane-1 .pane-title,
.fons-blanc .pane-resonancia-panel-pane-1 .pane-title {
  background:none;
  font-size:11px;
  color: #909090;
  display:block;
  text-align:left;
  width:220px;
}
.inside .pane-resonancia-panel-pane-1,
.fons-blanc .pane-resonancia-panel-pane-1 {
  position:relative;
}
.inside .pane-resonancia-panel-pane-1 .pane-content,
.fons-blanc .pane-resonancia-panel-pane-1 .pane-content {
  position:absolute;
  left: 110px;
  position: absolute;
  top: 4px;
}


.inside .pane-resonancia-panel-pane-1 .pane-title:after,
.inside .pane-resonancia-panel-pane-1 .pane-title:before,
.fons-blanc .pane-resonancia-panel-pane-1 .pane-title:after,
.fons-blanc .pane-resonancia-panel-pane-1 .pane-title:before{
  border:0;
  background:none;
}
.pane-node-flag-favoritos-link .flag-favoritos {
  float:right;
  width:16px;
  height:16px;
  display:block;
  text-indent:-99999px;
}
.pane-node-flag-favoritos-link .flag-favoritos .unflag-action {
  background: url("../images/sprite.png") no-repeat scroll 0px -450px;
  width:16px;
  height:16px;
  display:block;
  margin-top: 22px;
}
.pane-node-flag-favoritos-link .flag-favoritos .flag-action {
  background: url("../images/sprite.png") no-repeat scroll -483px -512px;
  width:16px;
  height:16px;
  display:block;
  margin-top: 22px;
}
.pane-node-flag-favoritos-link .flag-favoritos .flag-throbber,
.pane-node-flag-favoritos-link .flag-favoritos .flag-message {
  display:none !important;
}
.node-type-caso .seguir .flag-favoritos .flag-throbber{
  display:none;
}
.node-type-caso .seguir .flag-favoritos .unflag-action { 
  background: url("../images/sprite.png") no-repeat scroll 0px -450px;
  padding-left:20px;
  margin-right: -15px;
}
.node-type-caso .seguir .flag-favoritos .flag-action {
  background: url("../images/sprite.png") no-repeat scroll -483px -512px;
  padding-left:20px;
  color: #747474;
  margin-right: -15px;
}
.page-user .flag-favoritos-usuario .unflag-action { 
  background: url("../images/sprite.png") no-repeat scroll 0px -450px;
  padding-left:20px;
}
.page-user .flag-favoritos-usuario .flag-action {
  background: url("../images/sprite.png") no-repeat scroll -483px -512px;
  padding-left:20px;
  color: #747474;
}
.page-user .seguir .flag-favoritos-usuario .flag-throbber {
  display:none !important;
}
.rules-link-solicitar_borrar_caso{
	float:right;
	background: url("../images/basura.png") 0px 2px no-repeat;
	padding-left:20px;
}
.rules-link-solicitar_borrar_caso .rules-link{
	color: #747474;
}
.rules-link-cerrar_caso{
	float:right;
	background: url("../images/candado.png") no-repeat;
	padding-left:20px;
}
.rules-link-cerrar_caso .rules-link{
	color: #747474;
}
.view-porcentaje-votaciones-casos .views-field-count-1 span.field-content {
  display:block;
  width:78px;
}
/*
   FAQ - User Page
*/
#block-views-faq-block-1 {
    position: relative;
    margin-top: 10px;
    min-height: 215px;
    width:220px;
}
#block-views-faq-block-1 h2 {
  width:220px;
}
#block-views-faq-block-1 h2:after {
  left: 100%;
  width: 2%;
}
#block-views-faq-block-1 h2:before {
  width: 2%;
}

#block-views-faq-block-1 #edit-title {
  width: 95%;  
  float:left;
}
#block-views-faq-block-1 .views-widget-filter-title {
  padding-right:0;
  width:200px;  
}
#block-views-faq-block-1 .views-submit-button {
    margin: 0;
    padding: 0;
    width: 16px;
    float:left;
}
#block-views-faq-block-1 #edit-submit-faq {
  margin-top: 8px;
  padding-top:2px;
  width: 20px;
  height: 23px;
  border: 1px solid #999;
  border-width: 1px;
  border-radius:2px;
  color:#FFF;
  background: url("../images/sprite.png") no-repeat scroll 5px -74px #FFF;
  display:block;
  text-indent: -99999px;
}
#block-views-faq-block-1 .view-content ul li {
  margin-left:15px;
  list-style: square outside none;
  color:#C1001F;
  font-size:10px;
}
#block-views-faq-block-1 .view-footer a,
#block-views-faq-block-1 .view-content ul li a {
  color:#C1001F;
  font-size:11px;
}
#block-views-faq-block-1 .view-id-faq .more-link a {
  background: url("../images/sprite.png") no-repeat scroll -177px 0 transparent;
  height:32px;
  font-size: 12px;
  top: -5px;
}
/*
  Formularios
*/
body.node-type-defensa #main .section  #page-title,
body.node-type-faq  #main .section  #page-title,
body.page-faq-page  #main .section #page-title,
body.page-node-edit #main .section #page-title,
body.page-eform #main .section #page-title,
body.page-user-edit #main .section #page-title,
body.page-node-add  #main .section #page-title {
  background-color: #ECEFF1;
  color: #747474;
  font-size: 1.22em;
  font-weight: 700;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #FFFFFF;
  text-align:left;
  background: url("../images/line_double.gif") repeat-x scroll left bottom transparent;
}
body.page-node-edit #main  #content .section .form-item,
body.page-eform #main  #content .section .form-item,
body.page-user-edit  #main  #content .section .form-item,
body.page-node-add  #main  #content .section .form-item {
  background: url("../images/line_double.gif") repeat-x scroll left bottom transparent;
  padding-bottom:14px;
  text-size
  /*width:100%;*/
}
body.page-node-edit #main  #content .section .form-item .form-item,
body.page-eform #main  #content .section .form-item .form-item,
body.page-user-edit  #main  #content .section .form-item .form-item,
body.page-node-add  #main  #content .section .form-item .form-item {
  background:none;
  padding-top:0;
  padding-bottom:0;
  margin-bottom:14px;
}
.field-type-datetime .fieldset-wrapper .date-padding {
  float:none;
  padding:0;
}
body.page-node-edit #main #content .section,
body.page-eform #main #content .section,
body.page-user-edit #main #content .section,
body.page-node-add  #main #content .section {
  padding-left:20px;
  width:95%;
}
body.page-node-edit #main #content .section .grippie,
body.page-node-edit #main #content .section textarea,
body.page-eform #main #content .section .grippie,
body.page-eform #main #content .section textarea,
body.page-user-edit #main #content .section .grippie,
body.page-user-edit #main #content .section textarea,
body.page-node-add  #main #content .section .grippie,
body.page-node-add  #main #content .section textarea {
  width:90%;
  border:0;
  border-radius:2px;
  padding:6px;
  font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
  font-size: 12px;
}
body.page-node-edit #main #content .section input,
body.page-eform #main #content .section input,
body.page-user-edit #main #content .section input,
body.page-node-add  #main #content .section input {
  width: 90%;
  border:0;
  border-radius:2px;
  padding:6px;
  font-family:'Source Sans Pro',Verdana, Geneva, sans-serif;
}
body.page-node-edit #main #content .section #edit-actions,
body.page-eform #main #content .section #edit-actions,
body.page-user-edit #main #content .section #edit-actions,
body.page-node-add  #main #content .section #edit-actions {
  clear:both;
  padding-top: 14px;
  margin-top: 0;
}
#main #content .section .form-managed-file .form-submit,
body.page-node-edit #main #content .section #edit-delete,
body.page-node-edit #main #content .section #edit-submit,
body.page-eform #main #content .section #edit-submit,
body.page-user-edit #main #content .section #edit-submit,
body.page-node-add  #main #content .section #edit-submit {
  width:200px;
  margin-right:10px;
}
body.page-node-edit #main #content .section #edit-field-tipo-de-caso,
body.page-node-add #main #content .section #edit-field-tipo-de-caso { 
  background:none;
  padding-left:0;
  width:100%;
}
body.page-panel-de-control .view-porcentaje-votaciones-casos .views-field-php-1 .field-content .bar {
  width:78%;
}
body.node-type-detalle-factura-impagada .node-detalle-factura-impagada {
  padding:10px 15px;
}
body.node-type-detalle-factura-impagada .node-detalle-factura-impagada a {
  color:#C1001F;
}

/** Voto no permitido **/
.view-miembro-grupo  .bt-rojo {
  color:#FFF;
}
/*Admin → Listados**/
body.page-defensas-pendientes.admin-menu #main,
body.page-reclamaciones-identidad-pendientes.admin-menu #main,
body.page-testimonios-pendientes.admin-menu #main,
body.page-casos-pendientes.admin-menu #main,
body.page-denuncias-contenido-inapropiado.admin-menu #main,
body.page-solicitudes-borrar-caso.admin-menu #main,
body.page-mensajes-feedback.admin-menu #main {
  background:none;
}
body.page-defensas-pendientes.admin-menu #main table,
body.page-reclamaciones-identidad-pendientes.admin-menu #main table,
body.page-testimonios-pendientes.admin-menu #main table,
body.page-casos-pendientes.admin-menu #main table,
body.page-denuncias-contenido-inapropiado.admin-menu #main table,
body.page-solicitudes-borrar-caso.admin-menu #main table,
body.page-mensajes-feedback.admin-menu #main table {
  width:100%;
}
body.page-defensas-pendientes.admin-menu #main table thead tr,
body.page-reclamaciones-identidad-pendientes.admin-menu #main table thead tr,
body.page-testimonios-pendientes.admin-menu #main table thead tr,
body.page-casos-pendientes.admin-menu #main table thead tr,
body.page-denuncias-contenido-inapropiado.admin-menu #main table thead tr ,
body.page-solicitudes-borrar-caso.admin-menu #main table thead tr,
body.page-mensajes-feedback.admin-menu #main table thead tr {
  background:#A7A7A7;
  border-bottom:2px solid #CCC;
  font-weight:bold;
}
body.page-defensas-pendientes.admin-menu #main table thead tr th,
body.page-reclamaciones-identidad-pendientes.admin-menu #main table thead tr th,
body.page-testimonios-pendientes.admin-menu #main table thead tr th,
body.page-casos-pendientes.admin-menu #main table thead tr th,
body.page-denuncias-contenido-inapropiado.admin-menu #main table thead tr th,
body.page-solicitudes-borrar-caso.admin-menu #main table thead tr th,
body.page-mensajes-feedback.admin-menu #main table thead tr th{
  padding:3px;
}
body.page-defensas-pendientes.admin-menu #main table td,
body.page-reclamaciones-identidad-pendientes.admin-menu #main table td,
body.page-testimonios-pendientes.admin-menu #main table td,
body.page-casos-pendientes.admin-menu #main table td,
body.page-denuncias-contenido-inapropiado.admin-menu #main table td,
body.page-solicitudes-borrar-caso.admin-menu #main table td,
body.page-mensajes-feedback.admin-menu #main table td  {
  padding:2px;
}
body.page-defensas-pendientes.admin-menu #main table a,
body.page-reclamaciones-identidad-pendientes.admin-menu #main table a,
body.page-testimonios-pendientes.admin-menu #main table a,
body.page-casos-pendientes.admin-menu #main table a,
body.page-denuncias-contenido-inapropiado.admin-menu #main table a,
body.page-solicitudes-borrar-caso.admin-menu #main table a,
body.page-mensajes-feedback.admin-menu #main table a{
  color:#C1001F;
}
body.page-defensas-pendientes.admin-menu #main table .odd,
body.page-reclamaciones-identidad-pendientes.admin-menu #main table .odd,
body.page-testimonios-pendientes.admin-menu #main table .odd,
body.page-casos-pendientes.admin-menu #main table .odd,
body.page-denuncias-contenido-inapropiado.admin-menu #main table .odd,
body.page-solicitudes-borrar-caso.admin-menu #main table .odd,
body.page-mensajes-feedback.admin-menu #main table .odd {
  background:#DADADA;
}
body.page-reclamaciones-identidad-pendientes.admin-menu table {
  margin-top:10px;
}
body.page-reclamaciones-identidad-pendientes.admin-menu td {
  font-size:13px;
}
body.page-user-reset #content .section,
body.page-user-password #content  .section {
  padding:5px 10px;
  color:#747474;
}
.inside .fons-blanc .num-testigos .pane-content {
  width:75px;
}
.inside .view-caso-testimonios-count .view-content .views-field-nid .field-content {
  /*display:block;*/
  width:75px;
}
body.node-type-defensa .region-content .node-defensa {
  padding:5px 15px;
}
body.node-type-defensa #page-title {
  padding-left:15px;
}
body.node-type-defensa .region-content .node-defensa a {
  color:#C1001F;
}

#edit-group_pruebas .field-type-file .form-wrapper .fieldset-wrapper {
  width:80%;
}
#edit-group_pruebas .field-type-file .form-wrapper table tr  {
  width:100%;
  display:block;
  clear:both;
}
#edit-group_pruebas .field-type-file .form-wrapper table td  {
  width:100%;
  display:block;
}
#edit-group_pruebas .field-type-file .form-wrapper table td.checkbox {
  float: left;
  width: 10%;
  margin-top:5px;
} 
#edit-group_pruebas .field-type-file .form-wrapper table td.checkbox .form-item {
  background:none !important;
  padding-top: 0 !important;
}  
#edit-group_pruebas .field-type-file .form-wrapper table tr input {
  float: left;
  width: 40% !important;
  margin-top:5px;
}  
#edit-group_pruebas .field-type-file thead, 
#edit-group_pruebas .field-type-file .tabledrag-toggle-weight-wrapper {
  display:none;
}
#edit-group_pruebas .field-type-file tbody {
   padding-bottom:42px;
   display:block;
   background: url("../images/line_double.gif") repeat-x scroll left bottom transparent;
}
#edit-group_pruebas .field-type-file .draggable {
  border-bottom:none;
}
#edit-group_pruebas .field-type-file  .form-type-textfield .description {
  display:block;
  width:100%;
  clear:both;
}
body a {
  color: #C1001F;
}
.form-item.form-type-select.form-item-og-group-ref-und-0-default{
	display:none;
}

