.panel-barrut-ppl-2 > .panel-col-first { 
  float: left; 
  width: 15%; 
  min-height:1px;
}
.panel-barrut-ppl-2 > .panel-col-second { 
  float: left; 
  width: 15%; 
  min-height:1px;
}
.panel-barrut-ppl-2 > .panel-col-third { 
  float: left; 
  width: 70%; 
  min-height:1px;
}
