.panel-barrut-ppl-7 > .panel-col-last { 
  float: left; 
  width: 100%; 
}
.panel-barrut-ppl-7 > .panel-col-first-left { 
  float: left; 
  width: 30%; 
}
.panel-barrut-ppl-7 > .panel-col-first-right { 
  float: left; 
  width: 70%; 
}
