
fieldset.conditional-text-custom-plugin-form table th a {
  display: inline;
}

fieldset.conditional-text-custom-plugin-form table th span.machine-name-value,
fieldset.conditional-text-custom-plugin-form table th span.machine-name-label,
fieldset.conditional-text-custom-plugin-form table th span.admin-link,
fieldset.conditional-text-custom-plugin-form table div.description
{
  text-transform: none;
}
